[2013-11-26 13:25] berndbischl opened #1 "Use knitr for tutorial."
Talk to J.R. for this.

[2013-11-26 13:26] berndbischl opened #2 "Tutorial"
1)  Extend the current pages slightly somewhat.

2) Add some general info on OpenML, but always link if info is already there.

3) Show downloading of performance info.

[2013-11-28 19:54] berndbischl opened #3 "Write function to query simple data characteristics"
Use SQL call.
Ask Jan / Joaquin for example.

The result should be a data.frame with columns like

dataset, n_obs, n_feats, n_classes, ....

[2013-12-07 10:00] #1 closed, assigned to dominikkirchhoff

[2013-12-14 15:53] dominikkirchhoff opened #4 "Use makeR."

[2013-12-14 16:48] dominikkirchhoff opened #5 "How to deal with server interacting R code in the tutorial?"
We'd like to run code chunks and print the output in the tutorial, so the user sees what happens. However, most of the code interacts with the server. Therefore, a valid hash must be supplied. How can we solve this problem? Right now, the chunks are not evaluated, so we have no output.

Maybe we should add a special openML-account for this (e.g., for Mr. "John Sample")? But then, users will know i

[2014-01-31 10:45] jakob-r opened #6 "There is no README.md"
and thus the tutorial is somewhat hard to find.

[2014-01-31 10:50] jakob-r opened #7 "dependencies could be handled better"
[code]

[2014-01-31 11:44] jakob-r opened #8 "getMetaLearningFeatures now working: getDataQualities not found"
[code]

[see here](https://github.com/openml/r/blob/master/openML/R/openMLSQLQuery.R#L70)

[2014-01-31 16:39] #6 closed, assigned to nobody

[2014-01-31 16:49] berndbischl opened #10 "downloadOpenMLDataAsMlrTask"
- Needs to be changed, there is some ::: stuff in there.
- Do we really want OpenML data sets as mlr tasks? OpenML tasks should become mlr tasks!
- Document

Make the code work for now, but discuss whether this is reasonable then!

[2014-01-31 18:10] berndbischl opened #11 "check that regr. data sets are displayed in reasonable way in getDataQualities"

[2014-02-07 12:11] jakob-r opened #12 "read.arff dislikes some openml datasets"
At least these ones do not work:

[code]

May be change foreign::read.arff() to RWeka::read.arff()

[2014-02-11 16:07] #7 closed, assigned to dominikkirchhoff

[2014-02-11 17:06] #8 closed, assigned to dominikkirchhoff

[2014-02-12 14:41] #12 closed, assigned to nobody

[2014-02-18 15:42] #4 closed, assigned to nobody

[2014-03-01 14:13] dominikkirchhoff opened #13 "batch experiments errors"
Resampling of the first 100 tasks with all adequate mlr learners.
Submitted: 1710 (100%)
Done: 1692 (98.95%)
Expired: 18 (1.05%)

There were 295 errors (17%). Here are some common error messages:

* [114 times] Error in \`contrasts<-\`(\`\*tmp\*\`, value = contr.funs[1 + isOF[nn]]) : contrasts can be applied only to factors with 2 or more levels

Quite clearly, this is due to "pseudo factors" that

[2014-04-30 13:46] #10 closed, assigned to dominikkirchhoff

[2014-05-28 11:26] dominikkirchhoff opened #14 "S4 classes are not properly exported"
[code]

[2014-06-03 21:04] iaolier opened #15 "How to upload a dataset?"
wasn't able to find a specific function to upload datasets to openml, is there any available or need to make a query?

[2014-06-06 14:26] berndbischl opened #16 "test must be separated in groups"
at lest these file names

test_base_*

test_server_*

The 2nd group tests all objects from the server, or so

[2014-06-06 14:28] berndbischl opened #17 "use new roxygen structure for test dir"

[2014-06-06 15:39] dominikkirchhoff opened #18 "check makeRunParameterList"

[2014-06-27 08:55] iaolier opened #19 "have you got this error before?"
openML.impl <- createOpenMLImplementationForMLRLearner(learner)

I got:

Error in createOpenMLImplementationForMLRLearner(learner) :
  could not find function "OpenMLImplementation"

[2014-06-30 08:36] #19 closed, assigned to nobody

[2014-06-30 10:26] #14 closed, assigned to nobody

[2014-06-30 10:28] #16 closed, assigned to nobody

[2014-08-16 14:18] jakob-r opened #21 "toMLR: Why do we ignore the given splitting?"
[Here](https://github.com/openml/r/blob/master/R/toMLR.R#L46-L56) we create a resample description although an openMLtask already contains a given Data Split so we should create a resample instance directly.

[code]

[2014-08-18 23:34] berndbischl opened #22 "DataQualities: NumberOfSymbolicFeatures is always NA"
I guess this a problem on the R side. Need to check.

[2014-08-20 10:56] #21 closed, assigned to nobody

[2014-08-20 20:44] ghost opened #23 "create multiple mlr tasks from OpenML data sets"
It seems that downloadOpenMLDataAsMlrTask() can only be used once per R Session, because some files in the temporary data folder can't be overwritten.

Here's what I've done:
task1 = downloadOpenMLDataAsMlrTask("ozone_level")
-> works fine

task2 = downloadOpenMLDataAsMlrTask("abalone")
-> Error

Error Message:
Downloading data set 'abalone' from OpenML repository.
Intermediate files (XML and ARFF

[2014-08-20 21:30] #22 closed, assigned to nobody

[2014-08-21 17:31] #17 closed, assigned to nobody

[2014-08-22 17:07] #3 closed, assigned to dominikkirchhoff

[2014-08-25 13:48] ghost opened #24 "Encoding problem when downloading OpenML data set"
I wanted to create a mlr task from a data set that I just uploaded to OpenML. Unfortunately, there seems to be a problem with some characters in the data set's description!?

Do I have to change the description or is there another way to fix this?

R Log:
Downloading data set 'libras_move' from OpenML repository.
Intermediate files (XML and ARFF) will be stored in : C:\Users\tob\AppData\Local\Temp

[2014-08-26 21:12] joaquinvanschoren opened #25 "dots in feature names"
Hi, I uploaded this dataset: http://openml.liacs.nl/d/345
and noticed there are periods in the feature names. Is this still an issue in r? AFAI can remember we agreed that periods are quite common and will be handled on the r side?

Just checking :)

[2014-08-27 13:41] #25 closed, assigned to nobody

[2014-08-27 13:43] berndbischl opened #26 "Add function to simply download a data set"
Like downloadOpenMLDataAsMlrTask, but do not convert to mlr, but return the raw results.

Then remove downloadOpenMLDataAsMlrTask, and write a converter for that result object to mlr.

[2014-08-27 13:53] berndbischl opened #27 "bug in data.desc printer"
Dataset libras_move :: (openML ID = 299, version = 1)

[code]

Error in if (x$language != "") catf("\tLanguage         : %s", x$language) :
  missing value where TRUE/FALSE needed

[2014-09-08 18:04] #24 closed, assigned to nobody

[2014-09-17 22:43] rebordao opened #28 "Add Travis CI support"
Travis is a Continuous Integration platform. It's quite handy for automatic build testing. More information at https://travis-ci.org/

[2014-10-05 16:37] #27 closed, assigned to dominikkirchhoff

[2014-10-05 16:39] #26 closed, assigned to dominikkirchhoff

[2014-10-05 16:55] #11 closed, assigned to dominikkirchhoff

[2014-10-18 15:24] dominikkirchhoff opened #29 "Include stacked learners"
In uploadMlrLearner, createOpenMLImplementationForMlrLearner, (etc.)

[2014-10-18 22:45] mllg opened #30 "Options set in Rprofile get overwritten on package load"

[2014-10-19 08:21] #30 closed, assigned to nobody

[2014-10-20 11:13] #28 closed, assigned to rebordao

[2014-10-20 12:49] mllg opened #31 "Create less files"
`xmlParse` accepts `character(n)` as input if `asText == TRUE`. We do not need to write everything to temp files first.

[2014-10-23 10:29] paobranco opened #32 "zero based predictions"
The predictions upload should be one based as it is when the user downloads a task.

[2014-10-23 14:44] DraXus opened #33 "Fill "dependencies" field when uploading an implementation"
Include the mlr version that was used to generate the implementation.

My suggestion would be to include sessionInfo() output, so all the packages and their versions are included and therefore facilitates reproducibility.

[2014-10-28 20:04] #31 closed, assigned to nobody

[2014-10-28 20:09] mllg opened #34 "Authentication troubles"
* it is currently required for all actions to authenticate, this is nonsense?
* the session hash should be stored in and retrieved from options (if not directly provided) after first call to `authenticateUser`.

[2014-11-05 00:43] #23 closed, assigned to dominikkirchhoff

[2014-11-21 10:42] berndbischl opened #35 "Wrong error message if authenticate with wrong passwword"
Authenticating user at server: openml.rteassssm@gmail.com
[1] "http://www.openml.org/api/?f=openml.authenticate"
Error: Internal Server Error

We need informative msg

[2014-11-21 11:24] berndbischl opened #36 "document the OMLDataSet Class"
Do an extra roxygen section / file (without real code) OMLDataSet.R

Document everything which is in the class. For the "data" and "desc" try to link the global API Docs.
(otherwise too much to write down)

[2014-11-21 11:43] berndbischl opened #37 "slot and data frame names of objects"
Names should be the same as on the server. the only difference should be . instead of _.

exceptions only in VERY RARE cases

check current objects for that rule.

[2014-11-21 15:10] dominikkirchhoff opened #38 "downloading of source/binary files"
Hey,

at the moment, in getOMLFlow we do not download source/binary files at all. How should the function behave?

1. where to save the files (cache?)
2. always download all, or filter by file format or something like that?

As an "only R"-User, I'd not be interested in anything other than R-files, so a filter would be nice, I guess.

[2015-01-06 09:32] berndbischl commented on #38
I dont really see the problem. The flow would always be one or more files right?

So we always download them, store them in a cache dir.
(Please update the main wiki, "client API" then ).

The user is then free to look at these files as he wants.

[2015-01-08 00:14] dominikkirchhoff opened #39 "Better password handling"
At the moment, the password in the config file or console is in plain text. Find a better solution. Maybe we should consider a password prompt as shown here:
http://stackoverflow.com/questions/13033573/how-to-handle-db-passwords-in-r-connection-strings

[2015-01-16 08:30] #38 closed

[2015-01-16 08:30] #36 closed

[2015-01-16 08:30] #35 closed

[2015-01-16 09:31] dominikkirchhoff commented on #33
I wouldn't want to include the whole sessionInfo() because it'd get pretty confusing, I guess. By 094192451d9d6baa54c7706d5772c95b9f2180db, I included the mlr version as well as other 'directly' involved packages. E.g., for `classif.randomForest` it says now:
[code]
Do you agree that this is enough?

[2015-01-16 09:54] mllg opened #40 "Configuration not documented"
Link in ?configuration points to BatchJobs. We also need some documentation in the package, i.e. location and format of the configuration file.

[2015-01-16 09:57] DraXus commented on #33
That's great. Thanks!

[2015-01-16 09:57] #33 closed

[2015-01-16 10:11] dominikkirchhoff commented on #32
Hi,

I'm sorry, I don't understand what you mean by "when the user downloads a task". Do you mean the related data set's row names? We take the `row id attribute` if there is one and, if not, we assign zero-based rownames, so most of the time, data sets are zero-based.

Also, the server only accepts predictions when their columns `repeat`, `fold` and `row_id` are zero-based.

[2015-01-16 11:08] mllg opened #41 "RWeka::read.arff broken"
If you provide a path relative to your home ("~/.openml/cache/..."), you get a nice java IO error...

[2015-01-16 11:09] paobranco commented on #32
Hi,

when a task is downloaded the estimation procedure provides the data splits to use. These data splits include the information for type, rowid, rep and fold.
For instance, the task with id 4990 has the following information for data splits:

   type      rowid  rep  fold
1 TRAIN   210    1     1
2 TRAIN     9       1     1

This is one based.
However, when we upload the predictions for this ta

[2015-01-16 11:18] dominikkirchhoff commented on #32
Oh okay, now I got it. So this is not primarily an R-related issue but a server-design issue, right? Please move it to https://github.com/openml/OpenML/issues so Jan and Joaquin will take a look at it.

Best,
Dominik

[2015-01-16 12:41] berndbischl commented on #41
IIRC I experiences this error before.

I think the only help is to call normalizePath internally or have the user do this from the outside

[2015-01-16 16:14] berndbischl commented on #32
I hope i am not doing anything wrong here.

@paobranco @dominikkirchhoff
But please carefully check the code and also think about it a bit before reporting / closing.

The splits on the server are zero-based. Of course.
So we convert them here (see end of file)

https://github.com/openml/r/blob/master/R/getOMLTask.R

Now of course if we upload stuff, we must adhere to the same convention and and l

[2015-01-16 16:16] berndbischl commented on #29
What does this issue even mean?
Please ALWAYS explain in a way other people understand!

[2015-01-16 16:16] berndbischl commented on #37
Is this done? This seems a very basic thing we need to close this soon.

[2015-01-16 16:19] berndbischl commented on #34
@mllg
Can you please answer @joaquinvanschoren  as this relates to the server?

[2015-01-16 16:37] mllg commented on #34
If dropping the requirement to authenticate for mentioned .get operations is no big deal, I'd appreciate it. But I understand that this is no priority whatsoever.

[2015-01-16 16:52] joaquinvanschoren commented on #34
Ok, I'll discuss this with Jan.

What I really want to move towards is API key access.
However, currently there's simply too much other work to do :(.

Thanks,
Joaquin

On Fri Jan 16 2015 at 5:37:06 PM Michel Lang <notifications@github.com>
wrote:

[2015-01-24 19:05] berndbischl opened #42 "are downloading / cachedir threadsafe?"
Assume you download stuff on a cluster. Now the if the cachedir of diffferent R processes points to the same physical dir, we might have a problem right?

A guess we dont want to implment locks?
Or does R support that?

Does that imply parallel jobs cant use the same cache?

This seems like a complicated topic, whatever we decide we should document it carefully....

[2015-01-28 12:34] berndbischl opened #43 "for list* functions we should subset to status "active" by default"
This should be an option to subset the results to the given "stati".

default should be "active". in 99% of cases you dont want the other crap

[2015-02-03 20:24] berndbischl commented on #32
any Feedback?

[2015-02-03 20:29] berndbischl commented on #40
Dominik can you please close this soon?

doc it in the wiki and link to it from the r help page.

[2015-02-03 20:30] berndbischl commented on #37
ping again....

[2015-02-04 09:19] giuseppec commented on #39
How about using the scrypt package: http://cran.r-project.org/web/packages/scrypt/scrypt.pdf

library(scrypt)
mypass = hashPassword("thisIsMyPass")
verifyPassword(mypass, "thisIsMyPass")
verifyPassword(mypass, "thisIsNotMyPass")

[2015-02-04 09:44] giuseppec commented on #40
For some reason the user's home directory in Windows 7 is actually C:/Users/MyUsername/Documents and not C:/Users/MyUsername as I originally thought. Maybe you can also write how users can find out their home directory (for example using the R command Sys.getenv("HOME"))

[2015-02-04 09:52] berndbischl commented on #40
@giuseppec :
If you have time you can iterate over this now?

[2015-02-04 11:28] berndbischl commented on #39
Thx. Lets still do this last please.

[2015-02-04 13:33] giuseppec commented on #40
I'll finish this today. Is there a reason why the login-name is called "username" in the config file and "email" in the `authenticateUser` function? And can I change "username" to "email" if there is no special reason, just for consistency?

[2015-02-04 15:24] #43 closed

[2015-02-04 15:26] berndbischl commented on #40
Probably just a mistake.
The naming must be consistent, please change.

The major naming scheme should be taken from here:

https://github.com/openml/OpenML/wiki/Client-API

[2015-02-04 15:34] dominikkirchhoff commented on #40
We decided to call it "email" in `authenticateUser` to make it clear. I suggest to always call this "email" instead of "username" and adapt the client-API Wiki.

[2015-02-04 15:39] berndbischl commented on #40
The problem is that this is a much harder change as we would have to talk to everybody. For now we need to accept the definition. Use "username" and document it accordingly.

[2015-02-04 16:32] berndbischl commented on #39
I guess also that scrypt does not work. We cannot hash the pwd in a different way.
This also needs to be discussed with the server guys like Joaquin and Jan

[2015-02-05 09:17] #41 closed

[2015-02-05 09:17] #40 closed

[2015-02-05 09:55] giuseppec opened #44 "Modifying the `config` file interactively (within a R session)?"
1) `setOMLConfig` just sets the configuration for the current R session and does not modify the config file. Wouldn't it be better to replace the config file with the parameters set by `setOMLConfig` for a global configuration? Or is `setOMLConfig` only thought as session-specific configuration?

2) This is rather less importand but after modifying the config file manually, the package has to be d

[2015-02-05 12:25] berndbischl commented on #44
1) We REALLY do not want to write to the config file from R. The user does that via an editor.
setOMLConfig shall only overwrite mem for the current session.

2) Provide a function loadOMLConf(path) that loads the config from disk to mem on request.

[2015-02-05 15:47] berndbischl commented on #44
Sorry: mini wish:

Let loadOMLConfig return the config. This is always better than to simply return NULL

[2015-02-06 21:06] berndbischl opened #45 "Show how a basic ML research question can be answered with OML and mlr"
Brainstorm a few ideas.

Here is a simple one: In Bagging and random forests there is a difference about
a) when you randomly select the festures. In the tree nodes (RF) or the for the whole tree (B)
b) whether you prune the tree (B: maybe) or not (RF)

Now is there a big difference in performance? If yes which of the 2 is more important?
Yes, one could probably also look at Breimans paper for thi

[2015-02-09 10:37] giuseppec opened #46 "`getOMLConfig` repeated class assignment"
The class "OMLConfig" is assigned each time when one runs `getOMLConfig()`.

Example: Running this code `for (i in 1:10) cat(length(class(getOMLConfig())), fill=TRUE)` should print always the same length, currently the length increases.

[2015-02-09 10:53] berndbischl commented on #46
Create a unittest to check against this.
Also do not add the the class label in the getter but of course on construction!

[2015-02-09 16:25] #46 closed

[2015-02-09 16:25] #44 closed

[2015-02-09 19:08] berndbischl commented on #37
@dominikkirchhoff
ping 3rd time...

[2015-02-09 19:09] berndbischl commented on #32
@paobranco
ping again

[2015-02-09 19:10] berndbischl commented on #15
@iaolier
are you still working on this / interested ?

[2015-02-09 19:10] berndbischl commented on #18
@dominikkirchhoff

What is the issue here? There is no text, please explain.

[2015-02-09 20:41] iaolier commented on #15
Sorry Bernd, I’m not working on this as I’m not in charge on connecting our DBs with OpenML anymore. The person in charge of this is Noureddin, but not sure if he could be interested on developing this in R. Noureddin?

[2015-02-11 09:22] dominikkirchhoff commented on #37
Sorry, I kicked this down the road over and over again. Will have a look into this today.

[2015-02-11 11:27] dominikkirchhoff commented on #18
You told me to open this issue back then because you wanted to check `makeRunParameterList`. I don't know the reason, but I guess you had the suspicion that not everything might be working correctly.

[2015-02-11 14:21] giuseppec opened #47 "`getOMLRun` returns `NA`s for the `did` column in the `output.data` slot"
I am not sure why we need the `did` column for the evaluations in the `output.data` slot of a `OMLRun` object:

[code]
I have checked the `did` column for the first 100 `run.id`s and each of them return a vector of `NA`s, so do we really need this column?

I made a similar observation for `run$output.data$evaluations$label`, `run$output.data$evaluations$sample.size` and `run$output.data$evaluation

[2015-02-11 17:29] dominikkirchhoff commented on #37
It's OK to use the plural if there might be more than one object, right?

E.g., there can be tags in various objects. In the XML they are called "tag" but since there can be a lot of them, I prefer "tags". I suggest to always use the plural form if `maxOccurs="unbounded"`. What do you think? The same applies for parameters, components, qualities, ...

[2015-02-11 18:18] berndbischl commented on #37
IMHO plural is then preferable. But

a) do not overdo such things. you can change it, it is "easy"

b) the server specs have ALWAYS preference. do not select a "better" name on the R side, if it deviates from the server specs. If the name is "imperfect", but from the server, stick to it

[2015-02-12 16:10] dominikkirchhoff opened #48 "Task structure in R not the same as on server"
The task structure defined by the XSD

https://github.com/openml/website/blob/master/openml_OS/views/pages/rest_api/xsd/openml.task.search.xsd

is not the same as the one we currently use in R.

[2015-02-12 17:40] berndbischl commented on #48
what importants elements are different?

[2015-02-12 17:43] dominikkirchhoff opened #49 ""character vectors are no longer accepted by unserialize()""
We use unserialize to retrieve complex mlr learner objects from source files of OpenML flows. This is not working anymore. Try the following for example:

[code]

[2015-02-12 18:06] dominikkirchhoff commented on #48
In the XML we have the slots `input` und `output` which can occur any number of times. In these there is information about the estimation procedure, data set, evaluation measures and so on.

In R we have these things on the top level of the object, e.g. at the moment it's `task$estimation.procedure`, while `task$input$estimation.procedure` would be closer to the XSD.

[2015-02-12 18:12] berndbischl commented on #48
so we basically put these from the top level to under "input"? Or "output"?
i guess that is Ok with me and if we get closer to the server like this, do it now and dont look back

[2015-02-12 21:29] dominikkirchhoff commented on #48
Solved by 222f3ff5be4689a73ad580a9d2f1d370fadc0020

[2015-02-12 21:29] #48 closed

[2015-02-16 16:23] stephens999 opened #50 "java problem"
not sure why, but I'm having a problem with java. On
devtools::install_github("openml/r")
I get

* installing *source* package ‘OpenML’ ...
** R
** inst
** tests
** byte-compile and prepare package for lazy loading
No Java runtime present, requesting install.

I just installed Java (v8), and
from the terminal it seems OK:

stephens$ java -version
java version "1.8.0_31"
Java(TM) SE Runtime Environ

[2015-02-16 17:10] berndbischl commented on #50
The problem is very likely this: We (= OpenML R pkg) depend on RWeka, which depends on rJava.

Which is, dont ask me why, annoying to get to run with R.

Please try library(rJava). If this does not work, you dont need to try anything else.

Also google for "R CMD javareconf" to help you.

[2015-02-17 14:57] stephens999 commented on #50
thanks - you are correct! With  R CMD javareconf I got it working.

[2015-02-17 14:57] #50 closed

[2015-02-17 15:53] berndbischl opened #51 "our wiki is gone!"
@dominikkirchhoff @giuseppec

Please sort this out ASAP.

Also please write down how one changes the wiki and works on it, so new people like @giuseppec know how to work on it.

Giuseppe is emailing tomorrow.

[2015-02-17 16:01] dominikkirchhoff commented on #51
Bernd, the wiki was outdated, so I deleted it. The tutorial is [here](https://github.com/openml/r/blob/master/doc/knitted/1-Introduction.md).

[2015-02-17 16:03] berndbischl commented on #51
Thx for the quick response

Please
1) Link to it from the Wiki with 1 sentence

2) Write down very briefly how the tutorial is edited in text file and link that as well.

then close here

[2015-02-17 16:27] #51 closed

[2015-02-18 14:00] paobranco commented on #32
Ok. I wasn't aware that you were converting to one-based.
Thanks.

[2015-02-18 14:05] berndbischl commented on #32
Can you check the code to make sure that this really happens in the right way please?

[2015-02-18 15:26] berndbischl commented on #29
ping @dominikkirchhoff
Do we still need this?

[2015-02-18 15:27] berndbischl commented on #15
Closing this for now. When somebody wants to work on this or needs it, we can reopen

[2015-02-18 15:27] #15 closed

[2015-02-18 18:25] berndbischl opened #52 "measure time and also use rscimark to upload info of pc"
measure time of each train test split, for training and prediction separately.

also do one final model fit for the whole data, predict on whole data. throw results away.

depending on how large the model is, upload this as well. also in human readable form.

also upload rscimark vector, once per machine, cache this.

[2015-02-20 17:10] dominikkirchhoff commented on #29
What I mean is this: In mlr there are different classes of learners. Basic and bagged learners are already covered by the R package, stacked (and wrapped?) learners are not.

It's not urgent to have these integrated but sooner or later they should be.

[2015-02-20 17:11] berndbischl commented on #29
Lets close this for now and focus on more basic stuff

[2015-02-20 17:11] #29 closed

[2015-02-20 17:24] berndbischl commented on #49
You can do

base64encode(collapse(as.character(serialize))) in the inside, then on the outside

unserialize(as.integer(strplit(base64decode))))

?

[2015-02-20 17:26] berndbischl commented on #2
Closing now, we can open for specific things later

[2015-02-20 17:26] #2 closed

[2015-02-20 17:45] berndbischl opened #53 "estimation procedures: add a listOMLEstimProcs call"
and use that also internally in listOMLTasks

currently the est.proc is encoded as a not really readable integer code. convert that via the new function.

[2015-02-20 18:36] mllg commented on #49
Should work if you stack the functions together in the right order:
[code]

[2015-02-20 18:37] berndbischl commented on #49
Thats is better than what i posted. I forgot charToRaw

[2015-02-20 18:38] berndbischl commented on #49
Please fix and also make sure we have a unit test for the operation.

[2015-02-21 21:57] joaquinvanschoren opened #54 "authenticateUser(): wrong error message when offline"
Small issue: when you try to authenticate and it fails you always get the message:
Error in authenticateUser() : Username/password combination invalid.

This worried me, until I saw that my Wifi connection had dropped. It would be good to show another error message when you can't connect because you're offline.

[2015-02-23 09:52] #54 closed

[2015-02-24 09:20] giuseppec commented on #53
I wanted to use `http://www.openml.org/api/?f=openml.task.types.search&task_type_id=1` to get the evaluation procedures from a specific task type (see also http://www.openml.org/api), but the server seems to return a `Not Found` error (btw. I have same issue for `http://www.openml.org/api/?f=openml.task.types`).

As an alternative, we could use the `openml.estimationprocedure.get` api, but then we

[2015-03-02 11:14] giuseppec opened #55 "Old flows provide an outdated sourcefile?"
Run the following code:
[code]
As you can see, the file located in `flow$source.path` contains old function names like `downloadOpenMLTask` that are not supported by openML anymore. Also, a much older flow
[code]
doesn't even provide a `sourcedFlow` function and only creates a `lrn` object. Does this mean that we can't use old flows? How should we handle this?

[2015-03-02 12:07] dominikkirchhoff commented on #55
This is because we uploaded some flows at earlier stages of the package. It's true that we can't use those older source files the way we use newer ones (i.e., getting results by running the function in the source file). However, it is possible to produce results manually and upload them for a such an older flow since we only need the flow ID for that.

It's not really nice though and I would like

[2015-03-02 12:40] giuseppec commented on #55
Another thing we could do is to let `getOMLFlow` recognize an uploaded "old" flow version and then write a function `updateOldSourcefile` or something so that we can also work with older flows the way we use newer ones. For example, in issue #49, I fixed the unserialized problem and older uploaded flows can be fixed (or updated) by simply replacing one line using something like `updateOldSourcefil

[2015-03-02 12:57] berndbischl commented on #55
I think this is a valid point for later. The problem is much deeper actually as it also refers to version numbers of used packages. For now:
Disregard the problems with our own stuff. We will simply delete / overwrite the outdated stuff soon.

[2015-03-03 08:15] giuseppec opened #56 "confusion about Flow ID, implementation id and OpenML ID"
There seem to be some inconsistencies regarding the flow id. In commit 4e8d099531,  I've renamed the `id` argument in the `getOMLFlow` function to `implementation.id`. However, there seem to be further inconsistencies in the R output:

[code]
In the output above the implementation id is labeled as `OpenML ID`.

[code]
In the output above the implementation id is labeled as `Flow ID`

And in `listO

[2015-03-03 09:14] dominikkirchhoff commented on #56
Let's just always call this "Implementation ID" (or `implementation.id` if it's a parameter). I think this would be the least confusing way.

[2015-03-03 09:45] joaquinvanschoren commented on #56
Yes, in the web API everything is called implementation, not flow.

We will probably update this in the next version of the API, but only after
we introduce versioning so that we can keep the current API version stable.
Thus, it is safe to just use 'implementation'.

On Tue, Mar 3, 2015 at 10:14 AM dominikkirchhoff <notifications@github.com>
wrote:

[2015-03-03 15:04] #56 closed

[2015-03-04 08:09] giuseppec opened #57 "OMLMlrRun objects do not contain implementation.id yielding misleading run results"
The followign `run.flow` object does not contain an implementation ID:

[code]
The object `run.flow` was created using `implementation.id = 1248` which reflects the `classif.randomForest` procedure from `mlr`, however, no information about this `implementation.id` is stored in the `run.flow` object. This can yield the following bug when uploading this flow (and manually assigning a different `impl

[2015-03-04 08:37] giuseppec commented on #5
I think this issue is solved now, if not, we can reopen it again.

[2015-03-04 08:37] #5 closed

[2015-03-04 09:53] dominikkirchhoff commented on #57
Replace `runTaskMlr(task, x)` in the autogenerated source files by

[code]
?

Since `x` is the learner that has already been uploaded, this should do the trick, I guess.

[2015-03-04 10:40] giuseppec commented on #57
I think we have to do this within the `runTaskMlr` function. Otherwise it will still be possible to create `OMLMlrRun` objects that does not contain an implementation ID:

[code]
and to upload them with an arbitrary `implementation.id`:

[code]
I also think that it is bad style to allow the user to assing a `implementation.id` manually in the `uploadOMLRun` function.

[2015-03-12 15:05] berndbischl commented on #53
I guess we really need a listing API callfor the estim procs

[2015-03-12 15:06] berndbischl commented on #53
please always open up issues in the global tracker and ask them to fix ASAP

mark as "high prio"

get back to me if they dont fix

[2015-03-12 15:21] berndbischl commented on #57
Hmm.

Here is my view:

a) uploadRun should MAYBE have an auto.upload.impl options

b) more important: there should be function, to check whether a impl was uploaded, and to upload it,
if uploadRun is called normally, and the impl was not already uploaded before (or the auto option set) there should be an error

does that help?

[2015-03-12 15:45] dominikkirchhoff commented on #57
b) we would have to pass the learner/flow, source/binary files, maybe a description and so on to uploadOMLRun -- well, at least (if auto.upload == FALSE) the learner/flow object. And we still could hand over a learner that we didn't use in the run. Maybe we should think about another function for mlr learners, something like `runTaskAndUpload(learner, task.id, ...)` which downloads a task, runs th

[2015-03-13 13:19] giuseppec opened #58 "Learners with different Hyperparameters have the same implementation.id?"
While trying to fix one bug, I found another, bigger one:

[code]
a look into the `createOMLFlowForMlrLearner` function suggests that the error might happen in `makeFlowParameterList`. But I am not sure... Can someone help or fix it?

[2015-03-13 13:24] dominikkirchhoff commented on #58
This is totally fine -- a flow does not have a hyperparameter setting! It only contains its parameters including their data types, default values and so on. The actual setting comes in when you upload a run.

[2015-03-13 13:29] giuseppec commented on #58
Thanks for clarification.

[2015-03-13 13:29] #58 closed

[2015-03-16 07:58] #57 closed

[2015-03-16 10:41] giuseppec opened #59 "external.version for flows must be passed"
The API http://www.openml.org/api/#openml_implementation_exists uses the `name` and `external.version` to identify a specific flow.
Currently, it is allowed to define flows without using `external.version` (default value for `external.version` is NA):

[code]
This yields the bug that uploading the same flow again and again, gives us a different implementation.id (because the API seems not to recog

[2015-03-16 13:42] mllg commented on #42
Yep, that is right. On a cluster with a network file system you would need to pre-fetch everything, otherwise you can expect some race conditions. Do we already have a function to do so?

[2015-03-23 14:00] giuseppec commented on #59
ping

[2015-03-23 14:04] berndbischl commented on #59
We always define a external version number. NA is disallowed!

In custom cases the user passes this manually.

But we need good defaults for "normal" mlr experiments. I would like to have a combo of
a) mlr version b) package versions of learner packages

what is the format of externalversion? string or number?

[2015-03-23 14:24] giuseppec commented on #59
1) If NA should be not allowed for custom cases, we have to change the `na.ok = TRUE` in `assertString(external.version, na.ok = TRUE)` (https://github.com/openml/r/blob/master/R/OMLFlow_Class.R).
2) Currently, the default is a string having the value `external.version = packageDescription(lrn$package[1L])$Version`.
2a) Should I change the `lrn$package[1L]` to `lrn$package`?
2b) Is the Format `mlr

[2015-03-23 14:29] berndbischl commented on #59
2) is already bad ;-)
There can be multiple packages in there.

Your 2b) looks good.

[2015-03-23 14:49] giuseppec commented on #59
It seems that the `dependencies` slot provides the same infoI am not sure
[code]

[2015-03-23 15:18] berndbischl commented on #59
Hmmmm we should really define what both mean. Can you paste the offical API def here?

[2015-03-23 15:39] giuseppec commented on #59
[code]
source: https://github.com/openml/website/blob/master/openml_OS/views/pages/rest_api/xsd/openml.implementation.upload.xsd

Should we then replace the external.version by a md5 hash as described in the API?

[2015-03-24 12:07] #59 closed

[2015-04-13 14:43] giuseppec opened #61 "getOMLDataset should stop with an "unknown dataset" message when the dataset is not available?"
Currently, `getOMLDataSet` stops with a ` Error: Internal Server Error ` message when one tries to download a dataset whose ID is not available on the server:

[code]

The simplest solution to solve this issue would be to list all available datasets with the `listOMLDataSets` function and then to check whether the requested dataset ID (here: 123145614) is contained in this downloaded list. However

[2015-04-13 15:23] joaquinvanschoren commented on #61
Can you catch that error (HTTP status 500) and return an adequate response?

On Mon, Apr 13, 2015 at 4:43 PM giuseppec <notifications@github.com> wrote:

[2015-04-13 16:13] mllg commented on #61
RCurl does not give us any error messages if we use `postForm()`. We could however easily construct the URL for a GET request and either use `utils::download.file()` or `RCurl::getURL()` (for https) which both return meaningful HTTP status codes as well as error messages.
Or is there any good reason that we have to use POST to request downloading an XML? Is the session hash in the GET URL a proble

[2015-04-14 08:08] giuseppec commented on #61
This is interesting because the server returns the "Unknown dataset" message when we use `getURL`:

[code]
I'll fix this soon.

[2015-04-14 08:41] #61 closed

[2015-04-30 08:48] giuseppec commented on #49
Is there any reason why we use `base64Encode` and `base64Decode` here? This should also work:
[code]

[2015-04-30 10:21] berndbischl commented on #49
please ask @mllg

IIRC he did that change and we had raw before

[2015-04-30 12:14] mllg commented on #49
This is just a precaution to get rid of any special characters (i.e. backslashes) which may be left after serialization. If you are sure that these cause no problems on the server side or while transfering the implementation to the server, feel free to remove the extra encoding step.

[2015-05-06 14:23] jakob-r opened #62 "mlr integration: Learners with function Parameters cause error"
I suspect that mlr learners which have a Parameter Setting which includes a function can't be converted to characters and thus not be uploaded as an *Flow*.
[code]

[2015-05-11 13:49] joaquinvanschoren opened #63 "Question on R REST interface"
Hi,

We are simplifying the API. It is a bit annoying that you have to pass your session hash with every command. We would therefore like to remove that attribute, and require it as a REST header parameter. The REST header has an attribute 'Authentication' where you can add your key. Do you know how to do this in R? I'm not sure which package you are using to do API requests.

We will also simplif

[2015-05-11 15:15] joaquinvanschoren commented on #63
An overview of the upcoming changes can be found here: https://github.com/openml/OpenML/wiki/API-v1

Note that the old API should keep running. You should have plenty of time to update your calls. However, we will only document the new API in the future.

[2015-05-11 15:54] berndbischl commented on #63
Ok thx for the info. I guess we can handle this.

Maybe the answer to the auth change is in here
http://stackoverflow.com/questions/10157969/rcurl-http-authentication-when-site-responds-with-http-401-code-without-www-aut

[2015-06-02 13:24] joaquinvanschoren opened #64 "uploadOMLRun call from tutorial fails"
Hi guys,

I was just testing the tutorial, and noticed that our example stopped working:
[code]
returns:
[code]

It used to run fine before. Any idea what changed?

Thanks!
Joaquin

[2015-06-02 15:45] giuseppec commented on #64
Hi Joaquin, the following code should work:
[code]
Reason (see also https://github.com/openml/r/issues/57): If you use MLR, the OMLRun object already contains an implementation.id (see `res$implementation.id` or the last two sections in https://github.com/openml/r/blob/master/doc/knitted/6-Stage-3-Uploading.md) and it is not allowed to manually assign an `implementation.id` (to avoid that differen

[2015-06-02 16:14] joaquinvanschoren commented on #64
Excellent. It runs fine now, thanks.

I have updated the tutorial so that other users don't run into trouble.

On Tue, Jun 2, 2015 at 5:45 PM giuseppec <notifications@github.com> wrote:

[2015-06-02 16:14] #64 closed

[2015-06-08 12:56] pfistfl opened #65 "installation fails"
I can not get to install the package.
If I understand it correctly, the i386 version is not supposed to work as I run R on 64bit and I do only have 64bit Java.

Trying to read in the config seems to work fine.

[1] "xxx@googlemail.com"

Here is the Error, my session_info() and my config file.

Downloading github repo openml/R@master
Installing OpenML
"C:/PROGRA~1/R/R-32~1.0/bin/x64/R" --no-site-fi

[2015-06-08 13:37] giuseppec commented on #65
Can you try to additionally install 32 Bit Java from https://java.com/en/download/manual.jsp?

[2015-06-08 13:56] pfistfl commented on #65
Same now, except I get the error for both arches.
Deleting my config lets me install the package now though!
So I guess my config file might be erroneous.
*** arch - i386
Warning in ls(conf) : 'conf' converted to character string
Error : .onLoad failed in loadNamespace() for 'OpenML', details:
  call: as.environment(pos)
  error: kein Eintrag names "conf" im Suchpfad
Fehler: Laden fehlgeschlagen
A

[2015-06-08 14:18] pfistfl commented on #65
Ok, got it to work.
- Errors: Missing 32 Bit Java
- Erroneous Config, minimal config works now.

Thank you very much

[2015-06-08 14:31] berndbischl commented on #65
Sorry, to reopen but:

a) Do we still have a git submodule? Can we remove that?

b) @pfistfl:
Do you get any kind of error without a config, when you install?

c) Maybe we should have a minimal install FAQ / help page as people seem to sometimes run into these problems, and they should not

[2015-06-08 14:34] berndbischl commented on #65
a) I do not see makeR anymore, which is good and removed an empty .gitmodules file.

[2015-06-08 14:42] pfistfl commented on #65
Without a config I get:
Reloading installed OpenML
OpenML: No configuration found! Using defaults.

Which is what I guess should happen.

[2015-06-08 15:14] berndbischl commented on #65
Ok that is correct
I guess we should say that for first time installation it is best to have no config, and rework the error msg for faulty configs? And test that a bit better?

[2015-06-12 09:29] mllg commented on #65
Can we drop the RWeka dependency and just use `foreign::read.arff()`?

[2015-06-12 09:37] mllg opened #66 "listOMLDataSets lists private data"
[code]
I think either the server should filter this out or we need more information on the client side to do this.

[2015-06-12 14:02] berndbischl commented on #65
No, the ARFF reader in foreign does not respect full ARFF, so is worse.
The only (cool) option I see is to implement our own reader based on data.table, which would be quite fast too.

[2015-06-12 16:34] berndbischl commented on #65
Well, IF we can read all OML data sets with foreign, we can change to it for now IMHO.

[2015-06-12 17:45] berndbischl commented on #66
Isnt this something you should report at the main tracker?
Actually, it might be easiest to list them, but just give us a flag whether they are private or not?
And whether I have access rights to them or not.

[2015-06-12 18:05] mllg commented on #66
On a second thought, we _could_ filter this out by just checking for `NA` values in the id column.

@joaquinvanschoren What do you think? Is this a server-side or client-side issue? The API docs for `openml.data` reads "Returns a list with all dataset ids in OpenML that are ready to use".

[2015-06-12 18:07] berndbischl commented on #66
I do not see how it can hurt if we get the "private" flag? Isnt more info like this always better?
And if the data set is private this does not really imply that YOU do not have access to it? Or?

[2015-06-12 18:17] mllg commented on #66
AFAIR there was ongoing effort to freeze the API ;)

[2015-06-12 18:39] joaquinvanschoren commented on #66
You should NOT get datasets that are private and belong to others. If you
get them then we need to fix this. We will revisit this soon anyway when we
implement circles.

Yes, there is an API v1 coming up. I hope next week.
On Fri 12 Jun 2015 at 20:17, Michel Lang <notifications@github.com> wrote:

[2015-06-12 18:40] berndbischl commented on #66
Ok then this looks like a bug

[2015-06-12 19:09] joaquinvanschoren commented on #66
Fixed. Thanks for discovering it!

On Fri, Jun 12, 2015 at 8:40 PM Bernd Bischl <notifications@github.com>
wrote:

[2015-06-16 14:20] jakob-r commented on #65
If I remember right we couldn't. But maybe `foreign` has changed. Was last updated 2015-02-20 so...
But we should excessively test that because it is super annoying.

[2015-06-16 14:22] joaquinvanschoren commented on #65
OpenML datasets have also been updated and some ARFF files have been fixed
in March.

Cheers,
Joaquin

On Tue, Jun 16, 2015 at 4:20 PM Jakob Richter <notifications@github.com>
wrote:

[2015-06-16 14:45] mllg commented on #65
Just checked again, foreign does not work for all data sets. We could write our own ARFF parser based on `data.table`, but we should wait for the next release because there are still some bugs in the current CRAN version of `fread`.

[2015-06-16 15:29] berndbischl commented on #65
Ok, lets look a bit later at fread then.

Currently, RWeka should really work. And it is definitely NOT impossible to install rJava.

[2015-06-16 15:40] jakob-r commented on #65
It is not impossible to fly to the moon as well ;)
I will give +1 for not using rJava just because of `read.arff`.
Still: There should be a script test reading all arffs on openML.

2015-06-16 17:29 GMT+02:00 Bernd Bischl <notifications@github.com>:

[2015-06-16 15:43] berndbischl commented on #65
Come on. rJava is not HARD to install. And yes, I would be happy to drop it from the dependency list.
But I cannot work magic. It currently seems to be the only valid parser we have.
Propose an alternative one, and we can talk. Or code one.
NB: We have code based on data.table already.

Yes. There is one already? That is why I introduced this test_servetr_all group.

[2015-06-16 15:50] joaquinvanschoren commented on #65
It took me about half a day, but I also managed to install it. It actually
works fine on the shell, but if I want to use it in RStudio (on Mac) I need
a special startup script.

Anyway, a workaround would be really cool, but I think most people can
manage.

On Tue, Jun 16, 2015 at 5:43 PM Bernd Bischl <notifications@github.com>
wrote:

[2015-06-16 15:51] berndbischl commented on #65
Why? Can we link info that was helpful somewhere?

[2015-06-16 20:35] joaquinvanschoren commented on #65
Ah, well, it is explained here: http://andrewgoldstone.com/blog/2015/02/03/
rjava/
Basically, to get rJava working on Mac you need to install an old Java
version and then tell rstudio explicitly to look for it.

Not sure where to put it, since it is a general rJava/Mac issue.

Cheers,
Joaquin

On Tue, Jun 16, 2015 at 5:51 PM Bernd Bischl <notifications@github.com>
wrote:

[2015-07-20 07:54] berndbischl opened #67 "listOMLRuns and RunResults are inconsistent"
1) Do we even need to separate functions for this? Why not have them all in one?

2) Currently we see different runids in there

[code]

[2015-07-20 07:58] berndbischl commented on #67
Ok this is what happens.

The x2 conatins more runs, beacuse some of them might have failed. x1 has only the sucessful evals.
We need at least an error col in x2.

[2015-07-20 07:59] berndbischl commented on #67
And therefore we might want to keep 2 different calls.

[2015-07-20 08:59] #37 closed

[2015-07-20 09:02] berndbischl commented on #65
I am happy to drop rJava, if we have a better alternative. Currently I dont see it.

[2015-07-20 09:02] #65 closed

[2015-07-20 09:02] berndbischl commented on #63
Is this outdated? Close?

[2015-07-20 09:03] berndbischl commented on #49
Are we done here?

[2015-07-20 09:04] berndbischl commented on #32
No respone. Closing

[2015-07-20 09:04] #18 closed

[2015-07-20 09:05] #32 closed

[2015-07-20 09:06] berndbischl commented on #66
@joaquinvanschoren
Shall we closed if it is fixed?

[2015-07-20 09:06] berndbischl commented on #66
Seems fixed

[2015-07-20 09:06] #66 closed

[2015-07-20 09:36] giuseppec opened #68 "API naming update"
We have to change several namings (for example change implementation.id into flow.id and so on) according to this table https://github.com/openml/OpenML/wiki/API-v1

[2015-07-21 15:08] giuseppec commented on #62
This seems to be important and still not solved. Any suggestions?

[2015-07-21 15:11] berndbischl commented on #62
will look at it tonight

[2015-07-27 08:11] joaquinvanschoren opened #69 "Tutorial: QuickStart example"
It would be nice to add a QuickStart example to the tutorial: something where you show in 4-5 lines of code how to download a task, run a classifier on it, and upload the results. This is just to quickly convince the reader that it works and is simple to use.

[2015-07-27 08:12] #69 closed

[2015-07-27 08:23] joaquinvanschoren opened #70 "R-fiddle"
Just out of curiosity: is it possible to run mlr (and openml) in r-fiddle? Would be cool for examples.
http://www.r-bloggers.com/r-fiddle-an-online-playground-for-r-code/

[2015-07-27 08:38] berndbischl commented on #69
Why close?

[2015-07-27 08:43] jakob-r commented on #70
mlr runs perfectly
http://www.r-fiddle.org/#/fiddle?id=bmkzkcag

[2015-07-27 08:43] berndbischl commented on #70
I all depends on possible package updates.
I just tried it, they have mlr mlr 1.1.18 or something. I cannot even remember that version.
And I could not install packages

[2015-07-27 08:44] berndbischl commented on #70
Not it doesnt, see above

[2015-08-17 07:20] joaquinvanschoren opened #71 "Regression experiment error"
I tried to run a regression experiment, but ran into a problem:

// authenticate as usual
lrn = makeLearner("regr.lm")
task = getOMLTask(2284);
res = try(runTaskMlr(task, lrn))
res$error
[1] "Error in try(runTaskMlr(task, lrn)) : \n  Assertion on 'subset' failed: Must be of type 'integerish', not 'list'\n"

Is regression possible at all right now? Am I doing something wrong?

Cheers,
Joaquin

[2015-08-17 08:07] giuseppec commented on #71
For some reason, the `rowid` of the `data.splits` are converted into a list for task 2284 (if you use task 2279, for example, you won't have this issue):

[code]
I'll fix this in a minute.

[2015-08-17 08:10] giuseppec commented on #71
Should be fixed now, please reopen if not.

[2015-08-17 09:28] joaquinvanschoren commented on #71
Ok. Is this a server issue that we should solve?
On Mon 17 Aug 2015 at 10:10, giuseppec <notifications@github.com> wrote:

[2015-08-17 11:20] giuseppec commented on #71
I have to reopen this issue as it seems to be a server issue that should be solved either sever-side or more general than I have done it right now. The error occurs because the `rowid` indices from http://www.openml.org/api_splits/get/2284/Task_2284_splits.arff are 1-based (and not 0-based as we expected they should be 0-based on the server), in http://www.openml.org//api_splits/get/2279/Task_2279

[2015-08-17 13:26] joaquinvanschoren commented on #71
Let's close it here. I'll move it to the Server repo.

Cheers,
Joaquin

On Mon, Aug 17, 2015 at 1:21 PM giuseppec <notifications@github.com> wrote:

[2015-08-17 15:56] #71 closed

[2015-08-18 14:40] giuseppec commented on #68
@dominikkirchhoff do you have time to help here?

[2015-08-18 14:52] dominikkirchhoff commented on #68
At the moment I'm busy. I might have time to help in two weeks.

[2015-08-18 20:47] joaquinvanschoren opened #72 "Proxy settings"
How can we set a proxy in the R interface? There is internet access from the R console, but not through the OpenML/R interface.

R>authenticateUser(username="<hidden>", password="<hidden>")
Authenticating user at server: <hidden>
Error in authenticateUser(username="<hidden>..."), :
Proxy Authentication Required (Access is denied)

Any clue?
(Question submitted by a user)

[2015-08-19 00:49] berndbischl commented on #72
Isnt the authenticate mechanism changed anyway in the new API?
Note that I emailed you also about the status of the new API.
I would rather not invest much time here, if the code is completely rewritten anyway....

[2015-08-19 00:50] berndbischl commented on #72
Also please always post tracebacks in error reports.

[2015-08-19 00:56] berndbischl commented on #72
Does this help?
http://stackoverflow.com/questions/6467277/proxy-setting-for-r

It explains how to set the proxy "externally" so we dont have to set it for RCurl. That would be a last measure.

[2015-08-19 10:26] joaquinvanschoren commented on #72
The problem is not just the authentication, I'm assuming that all traffic
is blocked by the proxy? Authentication just happens to be the first call. I
don't have the full traceback, this was emailed to me by a user.

I emailed Giuseppe about the status. Authentication is much simpler in the
new API. Every user has an API key which is used for all calls (just like
the hash today). The authenticatio

[2015-08-19 11:09] berndbischl commented on #72
I is hard to say without more detail, but what is explained in the link should set the proxy for ALL calls in R, globally. So this is IMHO the best fix? It basically explains how to configure this for R, which is what the user has to do?

[2015-09-02 10:47] berndbischl opened #73 "make sure that travis runs"

[2015-09-02 10:47] berndbischl opened #74 "create unit tests from giuseppes examples from the last 2 talks"

[2015-09-02 10:48] berndbischl opened #75 "create an example how explore all results on some data set"

[2015-09-02 10:48] berndbischl opened #76 "use new API and auth mechanism"

[2015-09-02 10:49] berndbischl commented on #42
we should simply write some functions to prefetch stuff for now

[2015-09-02 10:50] berndbischl commented on #72
Please reopen when you have further problems / info

[2015-09-02 10:50] #72 closed

[2015-09-02 10:50] berndbischl commented on #70
Question answered, closing for now

[2015-09-02 10:50] #70 closed

[2015-09-02 10:52] berndbischl commented on #34
We have kinda decided to use API keys for now. We simply need a key with READ-ONLY access.
It must be possible to publish this and put it on travis.

[2015-09-02 11:06] berndbischl opened #77 "support OML "studies""

[2015-09-02 11:08] berndbischl opened #78 "be able to upload data sets / tasks from R"

[2015-09-02 11:28] berndbischl opened #79 "compare mlr and OML performance estimation"

[2015-09-02 14:31] giuseppec opened #80 "caching should be optional"
we should have a `cache` option to switch off  caching

[2015-09-02 15:16] hofnerb opened #81 "Add function to create the OpenML config file"
Add a small function that creates the OpenML config file in `~/.openml/config`.

[2015-09-02 15:20] hofnerb opened #82 "Remove old tutorial and update names of new tutorial"
- Rename tutorial files in `doc/`
  - `Stage-0` becomes `Stage-1`, `Stage-1` becomes `Stage-2`, etc.
- Change links in tutorial files accordingly
- Remove old tutorial files in `doc/`

[2015-09-02 15:38] hofnerb commented on #76
Change the description of this in the tutorial as well. Change
- `2-Configuration.Rmd`
- `3-Stage-0-Listing.Rmd`

[2015-09-02 17:14] jakobbossek opened #83 "Write unit tests for config stuff"

[2015-09-02 21:56] jakobbossek opened #84 "getAPIURL should expect ... arguments"
Until now - and recently commented out - the downloadXML function expected variable parameters which were appended to the URL as HTTP GET parameters. It would be much cleaner to let `getAPIURL` handle that IMHO.

[2015-09-02 22:13] giuseppec commented on #84
I agree on that (we will need this at least for the `/estimationprocedure/list` API anyway). We should discuss this tomorrow. I am okay with either ... arguments or passing a named list of HTTP GET parameters to `get.arg`.

[2015-09-02 22:16] jakobbossek commented on #84
Yes, I needed it for the `/run/list` API already and produced some ugly code to make it work without modifications to `getAPIURL`, because I wanted to wait for responses to this issue.

[2015-09-02 22:21] jakobbossek opened #85 "add task_type_id to listOMLTasks"
It would be desirable to list only tasks which correspond to e.g. *Supervised Classification*. We should thus give the user the possibility to pass the `tasktype_id` to `listOMLTasks`.

[2015-09-02 22:31] jakobbossek commented on #85
Ok, I see, that this was removed in 9c94156. Does the new API give us no possibility to pass the `task_type_id` anymore? Another possibility would be - similar to the way we filter the `status` - by calling `listOMLTaskTypes`, map the `task_type_id` to its name and finally filter the `task_type` column.

[2015-09-02 22:33] berndbischl commented on #85
i just adapted the test.
we dont really need an arg to subset the resulting data.frame.
just  subset it in r?

[2015-09-02 22:35] jakobbossek commented on #85
So I will do it as described above in R, ok?

[2015-09-02 22:36] berndbischl opened #86 "run tests for many / all data sets in travis job"
i will now disable the tests to run these "all" tests. they need only to run in travis.
it is just too long locally

[2015-09-02 22:38] berndbischl commented on #85
I dont get what you mean, pls respomd before you do something

[2015-09-02 22:41] jakobbossek commented on #85
You mean 1) get the task with `listOMLTasks` and 2) subset the interesting task types afterwards?
I.e. no `task_type` parameter for `listOMLTasks`?

[2015-09-02 22:43] berndbischl commented on #85
yes, sure
a) we cannot subset the data in the API call from the server
b) who cares. the data submitted on the network is small. you also are going to call "subset" on it anyways. why do we need to introduce extra args in our function?

[2015-09-02 22:45] jakobbossek commented on #85
Yes, okay. But with the same argument we could drop the `status` argument, because we can subset afterwards.

[2015-09-02 22:47] berndbischl commented on #85
yes. that is true.
i thought about exactly that.
the only reason why I would like to keep it in there is to protect people against running on "faulty" data.

the reasoning is like this:

- i dont know what type of tasks you really wanna see. use subset to select them yourself

- i CAN be reasonably sure that you NEVER want to see "deactivated" data

[2015-09-02 22:49] jakobbossek commented on #85
Ok, good argument. I think we can close this.

[2015-09-02 22:49] #85 closed

[2015-09-03 07:15] berndbischl opened #87 "runTask: review the auto.upload option in there"

[2015-09-03 07:17] giuseppec opened #88 "Dataset qualities"
`listOMLDataSetQualities` should be named `getOMLDataSetQualities` and `listOMLDataSetQualitiesList` should be name `listOMLDataSetQualities`.

[2015-09-03 07:25] berndbischl opened #89 "listTasks: show tags"

[2015-09-03 07:30] berndbischl commented on #87
i disabled the checkFlow stuff thing. The function should be able to run without inet access

[2015-09-03 08:10] berndbischl opened #90 "what happens if we upload flows and results multiple times?"

[2015-09-03 08:24] jakobbossek commented on #84
Done

[2015-09-03 08:24] #84 closed

[2015-09-03 09:13] berndbischl commented on #89
the task object also has tags now. we should print them

[2015-09-03 09:15] berndbischl opened #91 "target must be in task, not in input$dataset"

[2015-09-03 09:15] jakobbossek opened #92 "split up downloadXML in multiple other helper methods"
Since the function handles both GET and POST requests, we should rename the function to `doAPICall` and add helper `doAPICallGET` and `doAPICallPOST`.

[2015-09-03 09:31] jakobbossek commented on #92
Done

[2015-09-03 09:31] #92 closed

[2015-09-03 10:12] berndbischl opened #93 "listOMLTasks is slow"
downloading the data took 2 secs, parsing the result more than 4.
this seems to slow
we probably have the same issue in other listing functions

[2015-09-03 11:31] jakobbossek commented on #83
Basically done

[2015-09-03 11:31] #83 closed

[2015-09-03 11:50] jakobbossek commented on #88
Why? All of the list functions return a `data.frame` at the moment. However, the majority of the `get...` functions returns some kind of S3 object. I think it is consistent and good as it is in the moment.

[2015-09-03 12:05] jakobbossek commented on #53
Working on it using the new API. Renamed it to `listOMLEstimationProcedures`. We can close this soon.

[2015-09-03 12:37] jakobbossek commented on #53
Done

[2015-09-03 12:37] #53 closed

[2015-09-03 13:04] #91 closed

[2015-09-03 13:25] hofnerb opened #94 "Unify interface of listOMLRuns and listOMLRunResults"
`listOMLRuns` uses `task.id`, `setup.id` and `implementation.id`.
`listOMLRunResults` only uses `task.id`.

[2015-09-03 13:49] hofnerb opened #95 "implementation.id should be flow.id"
If flows are always called flows in the data base replace `implementation.id` with `flow.id`, e.g., in `getOMLFlow()`.

[2015-09-03 13:49] berndbischl opened #96 "runTaskMlr: use configureMlr for errors in resampling"

[2015-09-03 14:19] jakobbossek commented on #81
Added function `saveOMLConfig`.

[2015-09-03 14:20] berndbischl commented on #96
actaully, we have to consider anyway that the user confugures mlr from the outside with this and act upon it.
I also disabled a unit test in runTaskMlr about this for now

[2015-09-03 14:27] berndbischl commented on #63
we are working on this anyway.

[2015-09-03 14:27] #63 closed

[2015-09-03 14:29] berndbischl commented on #80
we wont do this now.

[2015-09-03 14:29] #80 closed

[2015-09-03 14:52] jakobbossek commented on #88
Done.

[2015-09-03 14:52] #88 closed

[2015-09-03 14:53] jakobbossek commented on #95
Done.

[2015-09-03 14:53] #95 closed

[2015-09-03 14:54] jakobbossek commented on #68
`implementation.id` to `flow.id` is done. We can close this for now.

[2015-09-03 14:54] #68 closed

[2015-09-03 15:15] jakobbossek commented on #39
Storing passwords in readable plain text files will always be a security risk. Obscuring the password in the file by applying some encoding algorithm does not solve the problem. If the user really does not want to store his password in the config file, at the beginning of a session he simply needs to use `setOMLConfig` to set it.

[2015-09-03 15:32] jakobbossek commented on #67
Agree with you. I already asked the sever guys to return an additional XML element `error`. This way we can easily integrate the `error` column.

[2015-09-03 17:30] hofnerb opened #97 "Update 8-Example-workflow-with-mlr.Rmd"
- Make sure that this example works (i.e., set `eval = TRUE`) but make sure that things are **not** uploaded to OpenML.
- Use better figure (dotplot?) and correct conclusion

[Edit: Note that the file is now called 7-Example-workflow-with-mlr.Rmd]

[2015-09-03 17:41] berndbischl opened #98 "if a wrong file is in cache, like auth failure, this is used as a cache response"

[2015-09-03 17:43] berndbischl opened #99 "assign the config"
must happen in zzz
and also by argument in loadOMLConfig

[2015-09-03 18:41] jakobbossek commented on #99
Done

[2015-09-03 18:42] jakobbossek commented on #98
We cannot know whether this is the reason for the auth failure. Maybe output a warning with a hint?

[2015-09-03 19:24] jakobbossek commented on #67
A column `error.message` is now appended in `listOMLRuns`. Closing this.

[2015-09-03 19:24] #67 closed

[2015-09-03 19:24] #99 closed

[2015-09-03 20:35] jakobbossek commented on #94
Going to handle that as soon as I figure out how to get the run results with the new API :smile:

[2015-09-03 20:36] jakobbossek commented on #89
We need to tell the server guys to integrate the tags additionally into the XML output. Currently this is only realized for queries on single tasks.

[2015-09-03 20:38] jakobbossek commented on #73
Do we need a travis account in OpenML? How to pass a valid apikey to travis?

[2015-09-03 20:39] jakobbossek commented on #52
@berndbischl, is your rscimark package ready for usage?

[2015-09-03 20:57] jakobbossek opened #100 "add function to reset cache directory"
It would be useful to have a function to clean the cache dir.

[2015-09-03 21:00] jakobbossek commented on #73
I think this of of particular interest for us: http://stackoverflow.com/questions/9338428/using-secret-api-keys-on-travis-ci

[2015-09-03 21:19] jakobbossek commented on #34
See my comment on #73 for a solution.

[2015-09-04 07:37] jakobbossek commented on #100
Just realized, that it already exists :smile:

[2015-09-04 07:37] #100 closed

[2015-09-04 08:51] berndbischl opened #101 "put bernd mobile nr into gmail unit test email account"

[2015-09-04 08:53] berndbischl opened #102 "put apikey into http authentication header"
instead of into get args

[2015-09-04 09:29] jakobbossek opened #103 "review listOMLRunResults"
The test is currently disabled. The function needs to be reviewed. Moreover, we need to switch to the new API.

[2015-09-04 09:32] jakobbossek opened #104 "repair and review uploadOMLRun"
Test is currently disabled.

[2015-09-04 09:52] berndbischl commented on #73
done

[2015-09-04 09:52] #73 closed

[2015-09-04 09:52] berndbischl commented on #86
openshift seems to be a possibility here

[2015-09-04 10:02] hofnerb commented on #97
Also check and modify part 6 on uploading data

[2015-09-04 10:21] #82 closed

[2015-09-04 11:32] jakobbossek commented on #89
Done

[2015-09-04 11:32] #89 closed

[2015-09-04 11:47] jakobbossek commented on #94
Probably we will not need to do this since `loadOMLRunResults` will most likely be removed.

[2015-09-04 11:51] berndbischl commented on #39
we use APIKEYs now.

[2015-09-04 11:51] #39 closed

[2015-09-04 11:52] berndbischl commented on #34
done here

[2015-09-04 11:52] #34 closed

[2015-09-04 11:53] berndbischl commented on #34
ps: a readonly APIKEY for demos and so on will be provided soon

[2015-09-04 11:55] berndbischl commented on #13
very outdated, irrelevant, closing

[2015-09-04 11:55] #13 closed

[2015-09-04 12:25] berndbischl opened #105 "add "get.only.from.cache" options for get* functions"
useful if you want to avoid accessing the server.
this will look only in the cache to get an object.
also good for parallel cluster code where you want to ensure that paralllel processes dont write to same files

[2015-09-04 12:28] jakobbossek commented on #42
Ok, we will do the following. If the user intends to compute on a cluster, we force him to populate the cache in advance by offering a dedicated function.

[2015-09-04 12:28] jakobbossek opened #106 "add function to populate cache in advance"

[2015-09-04 13:49] berndbischl commented on #42
the getOML* functions need a "dont.parse" option. because we only need to download.
then the name is slightly bad. maybe have simple a
download* function too?

[2015-09-04 14:12] jakobbossek commented on #103
Moved to attic. We do not need it anymore.

[2015-09-04 14:12] #103 closed

[2015-09-04 14:13] jakobbossek commented on #94
Closing. See #103.

[2015-09-04 14:13] #94 closed

[2015-09-04 14:13] berndbischl commented on #47
these seem to be optional filelds in there. maybe this is mainly a documentation issue.
i mean we require these in out parser, then the become NA if they are not there.
which does not hurt that much.

we should link to the XSD file for docing.

[2015-09-04 14:44] jakobbossek commented on #106
Done

[2015-09-04 14:44] #106 closed

[2015-09-04 14:57] berndbischl opened #107 "we need to inform the user if data sets got deactivated"
on a fresh download this should be simple
for the cache this is harder. we probably need to list the data sets

[2015-09-04 15:03] berndbischl commented on #107
the check.status option in getOMLDataset is crap.
also this is missing from the task.
and other objects?

[2015-09-04 15:13] berndbischl commented on #105
i started this. the getOMLRun function seems to download not the xmls into the cache.
must be  changed too NOW

[2015-09-04 15:13] berndbischl commented on #105
and we always want to download preds for now

[2015-09-04 15:16] berndbischl commented on #105
in the flows the cache seems not to be considered

[2015-09-04 16:13] jakobbossek commented on #107
I removed the `check.status` option in `getOMLDataset` for now. We always check if stuff is deactivated respectively in preparation. We still need to handle the *in cache* case.

[2015-09-04 16:27] jakobbossek commented on #105
`getOMLRun` now saves/caches the xml description.

[2015-09-04 16:37] berndbischl opened #109 "we need to inform the user if data sets got deactivated"
on a fresh download this should be simple
for the cache this is harder. we probably need to list the data sets

[2015-09-04 16:38] jakobbossek commented on #109
Duplicate

[2015-09-04 16:38] #109 closed

[2015-09-04 16:38] berndbischl opened #110 "for eg populateCache we need to ensure that stuff is not parsed"
this is done in the getter. that is stupid.

[2015-09-04 16:41] berndbischl commented on #110
we need downloadOMLTask etc, without parsing and return value

[2015-09-04 16:44] berndbischl commented on #78
joaquin did a PR here. it contains 3 new files. these need to be reviewed

[2015-09-04 16:45] berndbischl commented on #42
we have the populateCache fun now.
some problems, but they are also in better issues

[2015-09-04 16:45] #42 closed

[2015-09-04 16:47] berndbischl commented on #74
giusppe, pls check the examples VERY soon.
rreport problems here pls

[2015-09-04 16:48] jakobbossek opened #111 "Refactor the caching stuff"
The caching functions are partly kind of weird. Moreover, in the `getOML...` functions we have a lot of very similar code. Refactor this stuff. This has lower priority for now.

[2015-09-04 17:59] jakobbossek commented on #78
Reviewed, changed to new API and merged. We need a test for that.

[2015-09-04 19:59] jakobbossek commented on #105
Caching now works for all relevant types of OML objects. `cache.only` option works as well.

[2015-09-04 19:59] #105 closed

[2015-09-04 20:10] jakobbossek commented on #107
I see no alternative: if the data set is cached, we need to query the list of deactivated datasets from the server and check if the given data set id is one of these. Did it that way. Closing.

[2015-09-04 21:55] jakobbossek opened #112 "listOMLRuns should output more information"
Now the `listOMLRuns` functions returns a data frame that basically consists of a lot of IDs. Stuff like `task.type` should be stored as well. Otherwise we cannot make use the output without additional function calls.

[2015-09-04 21:59] jakobbossek commented on #112
Outdated example from our paper, which is not working anymore:
[code]

`listOMLRunResults` was moved to the attic and `listOMLRuns(task.id = 4270)` returns jest the following information. No possibility to grep.
[code]

[2015-09-05 10:41] berndbischl commented on #112
Joaquin saif there is also an API call "evaulations". this includes scores.  if some readable labels are missing, we need to complain soon there.

[2015-09-05 10:43] berndbischl commented on #112
but:
for the tasks we should just join the tables with listOMLTasks. Less work on the server.
maybe be can do the same with the flows. just join tables.

[2015-09-05 10:43] berndbischl commented on #112
and we mainly need the evaluations function. it makes no sense to just list the runs without the scores right? sorry for the confusion, i am still learning this too.

[2015-09-05 11:50] giuseppec commented on #112
I think for the use case it makes more sense if we also have the evaluations. I don't see any API v1 call on the list https://github.com/openml/OpenML/wiki/API-v1 that returns the evaluations of all runs. Can we have an updated list so we could look this up?
I liked the old “openml.task.evaluations“ call because we were able to compare the evaluation scores from different runs that were run on a s

[2015-09-05 14:22] berndbischl commented on #112
that is what i meant. but we need to post stuff like this a the global tracker

[2015-09-05 14:22] berndbischl commented on #112
complain there, and focus for now on the other things

[2015-09-05 17:32] berndbischl commented on #76
I am going to close this. we have more specific issues.
I did a little work on 2-Configuration.Rmd

In the end we need to read and adapt the tutorial anyway

[2015-09-05 17:32] #76 closed

[2015-09-05 17:36] berndbischl commented on #49
@jakobbossek wanted to remove this. I assigned him now.

we agreed:
- including this serialization is horrible securitywise
- it is a complex thing, we dont do this now
- for normal mlr learners we upload a callstring = names + params, that already helps a lot

everything else can be done later

[2015-09-05 18:41] berndbischl commented on #107
I think you cannot do it like this, at least not so simple.
cache.only = TRUE still does a server call, right?
Do we want that? I guess not right?

[2015-09-05 18:51] berndbischl commented on #107
maybe that is a bad "call" anyway. maybe we should write a little function to check all data sets in the cache? so you have to call this manually.

[2015-09-05 19:11] berndbischl commented on #112
@jakobbossek

Please check this thread and also write something here
https://github.com/openml/OpenML/issues/212#issuecomment-137727042

[2015-09-05 19:13] berndbischl opened #113 "Add documentation for the ojects returned by getOML*"
Please simply do this:

Ref the schema XSD files, for every object that is returned.
They contain the best info currently available.
Add info to 2-3 REALLY important slots in roxygen. But dont overdo it.

[2015-09-05 19:13] berndbischl commented on #113
Here is an XSD link
https://github.com/openml/website/tree/master/openml_OS/views/pages/api_new/v1/xsd

[2015-09-07 08:28] giuseppec commented on #113
Do you prefer that the xsd's are referenced from the github page right now or should we wait until the website's API services (see e.g. http://www.openml.org/guide#!openml_run_get) is updated and reference it from the openml.org website?

[2015-09-07 09:24] berndbischl commented on #113
ref them now, we need to move forward

[2015-09-07 10:31] giuseppec opened #114 "runTaskMlr should contain information about the flow"
After someone disabled the `auto.upload` arg in `runTaskMlr` we should discuss how we want to avoid that wrong flow.ids are (either intentionally or unintentionally) assigned to runs and uploaded with this wrong flow.id.

Example:
[code]

[2015-09-07 10:59] berndbischl commented on #114
that was me. fous on something else for now, we do this here later

[2015-09-07 13:07] giuseppec commented on #104
Done. A Unit test was also added.

[2015-09-07 13:07] #104 closed

[2015-09-07 20:24] giuseppec commented on #102
fixed in https://github.com/openml/r/commit/c05ec3205aeb84b090f60e816093f8af9a46fc6f

[2015-09-07 21:02] jakobbossek commented on #102
Giuseppe, are you sure you really replaced the query string with the header? I am quite tired now, but for
[code]
I get the following result (see the URL after Response)
[code]

[2015-09-07 22:59] janvanrijn commented on #102
I think you need to obtain your "real" api key from your account. Test
shouldn't work any more
Op 7 sep. 2015 22:02 schreef "Jakob Bossek" <notifications@github.com>:

[2015-09-08 08:21] giuseppec commented on #102
@janvanrijn jakob is right. I did not add the api_key in the header of the HTTP request. Is it possible to send the api key as header (for example as "X-ApiKey" header) instead of using it in the url: `http://api_new.openml.org/v1/data/list?api_key=MYKEYHERE` ?

[2015-09-08 08:54] joaquinvanschoren commented on #102
Can we not simply use the HTTP authorization request header?
http://www.httpwatch.com/httpgallery/authentication/

On Tue, Sep 8, 2015 at 9:21 AM giuseppec <notifications@github.com> wrote:

[2015-09-08 10:37] giuseppec commented on #102
I guess we can, but I need your help here. Let's use the demo account api_key `770096c8bbcfc623f78f276ac37b324f`:

1) This does not look like Base64 encoding, I assume its Digest? Sow, we have to use "Authorization: Digest 770096c8bbcfc623f78f276ac37b324f" as HTTP authorization request header?

2) If 1) is right, I tried this:
[code]
Here you can see the header that is send to the server:
[code]

[2015-09-08 10:41] berndbischl commented on #102
Giuseppe, I am pretty sure you should not post the keys here?

I mean why do we encrypt them on Travis, if you then post them here?

[2015-09-08 10:42] berndbischl commented on #102
Or is this the READONLY key? Do we already have that?
@joaquinvanschoren

[2015-09-08 10:50] giuseppec commented on #102
I used the unit test apikey and thought it is READONLY, but its not. Sorry for that.

[2015-09-08 10:59] jakobbossek commented on #102
Another general question: What is the advantage of submitting the key in the http header? Yes, we unclutter the URI/URL, but as far as we do not use https the key is submitted as plain text.

[2015-09-08 11:08] joaquinvanschoren commented on #102
OK:
* Ideally, you use basic authentication over https. Not digest.
* We need to first figure out how to do https on the server, we need this
anyway.
* In any case, this won't work right now because the server is still
expecting the api_key in the body. We need to first change this on the
server.
* We indeed need to make the read-only key ASAP.

I will try to cut out some time during ECML together

[2015-09-08 11:09] joaquinvanschoren commented on #102
Shall I reset that demo api_key? It is linked to Giuseppe's account?

On Tue, Sep 8, 2015 at 12:07 PM Joaquin Vanschoren <j.vanschoren@tue.nl>
wrote:

[2015-09-08 16:02] berndbischl commented on #102
1) Lets try to do basic things first. Can we please stay with the key in the normal get args for now? As this works. And from your comment the switch to the alternative already includes some unknowns.

2) The READONLY key OTOH is pretty needed.

3) You can reset the key. We created a dedicated gmail account for this. We then need to encrypt it again for travis. Tell me when done.

[2015-09-08 16:13] joaquinvanschoren commented on #102
Ok, good. We'll do this ASAP.
The key has been reset.

On Tue, Sep 8, 2015 at 5:02 PM Bernd Bischl <notifications@github.com>
wrote:

[2015-09-09 09:08] #93 closed

[2015-09-09 10:42] giuseppec commented on #74
Do we want to keep the `runMultipleLearnersOnTask` function, which I created only for presentation purposes of a very small benchmark study?
Currently, `runMultipleLearnersOnTask` has to be fixed and it is basically copy & paste from ``runMlrTask`.

[2015-09-09 11:25] joaquinvanschoren commented on #93
Hmm, is the XML parsing really that slow? What we could do *in the future*
is to add a JSON option to the API so that it returns all data in JSON.
That would make transfer faster (smaller files) and maybe JSON parsing in R
is faster as well?

On Wed, Sep 9, 2015 at 10:08 AM giuseppec <notifications@github.com> wrote:

[2015-09-09 11:49] giuseppec commented on #93
Now parsing takes "only" 2 secs.
What makes things slow is looking up the "name" attribute of the `input` and `quality` nodes. For different `task_type`, we might have more qualities and we have to select only the ones we want to show to the user, which are:

[code]
 If the ordering in the `oml:quality` childs is always the same and the nodes with name attribute `NumberOf*` come always first, we c

[2015-09-09 14:11] berndbischl commented on #93
1) good job, VERY cool!

2) but focus on making stuff work now, not optimizing stuff.

[2015-09-09 14:16] berndbischl commented on #74
no, we dont need that. that is a simple convienience function.

right now we need BASIC MODULAR stuff.

So one, cool runTaskMlr, that runs one learner on one task.

Bonuspoints if that produces a BenchMarkResult that a can later combine with c().

But that we also have to talk about. LATER..

[2015-09-09 14:18] berndbischl commented on #74
Just check that you have no basic operation in your examples that generates errors with OpenML.
If your examples still run nicely with the new API, close this here.
Maybe that way you get an idea for 1-2 new unit tests, if some are really missing.
But dont overdo it.
(Of course always add a test if something fails in unexpected ways)

[2015-09-09 14:24] joaquinvanschoren commented on #93
Ok, task/list now returns all qualities alphabetically starting from
"NumberOf"
Note that regression tasks don't have classes, so the first quality there
would be "NumberOfFeatures", not "NumberOfClasses"

Are you ever going to list all tasks over all task types? You can also
simply ask for all classification tasks with /task/list/1, regression tasks
with /task/list/2 and so on. That would also be

[2015-09-09 16:13] giuseppec commented on #55
I think we can close this for now, because we want to replace the sourceFlow function with a callstring (see https://github.com/openml/r/issues/49 ).

[2015-09-09 16:13] #55 closed

[2015-09-10 05:43] giuseppec commented on #102
@berndbischl can you update the apikey in travis so we don't have to see the demotivating "build failing". You can find the apikey in the unit test account, which you have created (I think I don't have the pass for this account).

[2015-09-10 10:38] berndbischl commented on #101
done

[2015-09-10 10:38] #101 closed

[2015-09-10 10:44] berndbischl commented on #102
apikey is set for travis

[2015-09-10 11:34] giuseppec commented on #102
Did you create the environment variable on travis https://travis-ci.org/openml/r/settings ? Because I don't see any environment variables in there and building status is still failing because of missing apikey.

[2015-09-10 14:36] giuseppec commented on #78
Uploading datasets is now possible, however, the server automatically assigns the status "in_preparation" so that we can't download the uploaded dataset (see https://github.com/openml/OpenML/issues/215).
Uploading Tasks from R is not possible because there does not seem to be an API for this(https://github.com/openml/OpenML/wiki/API-v1), do we really need that?

[2015-09-10 17:41] berndbischl commented on #102
I made a mistake, but it works now. But PDF is broken, so you have to repair that now, locally, by looking at rcheck.

[2015-09-11 15:14] giuseppec commented on #113
The `getOML*` functions have a reference to the corresponding `\link{OML*}` class that is returned. All improtant `\link{OML*}` classes have now a reference to the corresponding XSD's (if available) in their docu. Hope this is enough.

[2015-09-11 15:21] berndbischl commented on #113
Ok, the close.

[2015-09-11 15:21] berndbischl commented on #113
*then

[2015-09-11 16:09] #113 closed

[2015-09-13 06:22] giuseppec commented on #110
This makes more sense as the get* functions do always similar things (we always download the XML and then the ARFF if there is one). Once the downloading function has been written, we can use it in the get* functions later.

Suggestions:
- We can write an `downloadOMLObject` function with an `object = c("data", "task", "flow", "run")` arg to avoid copy & paste
- I think we should at least search t

[2015-09-13 12:29] berndbischl commented on #110
this sounds good. can you please start on restructuring the "download*" functions first and now?

[2015-09-14 13:08] joaquinvanschoren opened #115 "Tiny change for tutorial"
To list flows, the Knitr tutorial gives the following example:

flows = listOMLFlows()
flows[1:7, 1:2]

Unfortunately, the first 100-or-so flows are the implementations of the evaluation measures. This is a bit confusing. Can you change this to:

flows[100:107, 1:2]

Then you get more meaningful results. Thanks!

[2015-09-17 10:06] hofnerb commented on #81
The function `saveOMLConfig` currently requires all arguments to be set. E.g.
[code]
produces the error:
[code]

[2015-09-17 10:08] berndbischl commented on #81
Shall we simply remove the server setting? There is only 1 now...

[2015-09-17 10:11] #110 closed

[2015-09-17 10:15] giuseppec commented on #98
This should be fixed with #110, as we check the xml for an error (and stop with the error) when it is in cache.

[2015-09-17 10:16] berndbischl commented on #98
Do we have a unit test for this? Only close if this is true.

[2015-09-17 10:52] hofnerb commented on #81
This is not the problem. The defaults are not properly set. If I set the server I then get:
[code]
So these arguments are `NULL` per default instead of having a proper default value.

[2015-09-17 11:02] hofnerb commented on #81
Having looked at the code, I think the problem is that `setOMLConfig` is defined with `...` and `saveOMLConfig` explicitely names the configuration options. Actually, I would prefer  the latter.

Btw. `getOMLConfig()` does not show all configuration settings. How can users then know what settings they can make? The help of `setOMLConfig` tells us to look at this object...

[2015-09-17 11:10] berndbischl commented on #81
Ok will talk to @giuseppec and we will fix this soon.

[2015-09-17 11:28] #98 closed

[2015-09-17 11:30] giuseppec commented on #81
I agree, I think we need better defaults and tell the user which arguments are optional and which are necessary. @hofnerb could you edit your posts and remove your apikey, we should not post them public?

[2015-09-17 11:38] berndbischl commented on #81
Yes, please really don't do this! This is supposed to be kept secret!

[2015-09-17 11:49] berndbischl commented on #81
@giuseppec
I have added some code for this. Please make it better. And then add some tests for the issues @hofnerb reported here.

[2015-09-17 11:55] berndbischl commented on #81
For setOMLConfig introduce named args.
Only document the meaning of the setting in one place. Then point to it.
Probably document in setConfig.

[2015-09-17 11:57] joaquinvanschoren commented on #78
The 'in preparation' status means that the dataset is not 'active' yet. I
need to add a button on the website where you can change this status.
Still, you should be perfectly able to download datasets that are not
active?

A 'create task' API call will be added soon, hopefully this week.

On Thu, Sep 10, 2015 at 4:36 PM giuseppec <notifications@github.com> wrote:

[2015-09-17 12:00] hofnerb commented on #81
@giuseppec: Thanks for pointing out. I've removed all confidential information.

[2015-09-17 12:16] berndbischl commented on #81
@giuseppec
Also make sure that the getter / printer shows all relevant stuff (expept for the apikey....)

[2015-09-17 12:24] hofnerb commented on #81
Why do we want to hide the API key when the user wants to see his/her configs? Is it that confidential?

[2015-09-17 12:26] berndbischl commented on #81
It is your private password. Yes, you are supposed to keep it secret, that is also what the OML webpage says, when you look at your account.

What does any other system display when you type in pwds? ****
Why? Because somebody else can be in the room

[2015-09-17 12:37] hofnerb commented on #81
It is a rather long "password" and the information which it secures is (in my eyes) rather insensitive. It only manages that you are uploading your results with the correct user account. Anyway, if you consider it that secure, we should perhaps print `***` as API key so users know it was set (if so) and `PLEASE CHANGE ME` if it wasn't set (`"PLEASE CHANGE ME"` is also the default value of  `getOML

[2015-09-17 12:52] joaquinvanschoren commented on #81
It is not just about uploading results in the correct account. Somebody
could copy it and then use it to impersonate you and do an attack on the
server, causing your account to be blocked by us. People could also use it
to mess with your data on the server.

The API key can be clear text in your settings file, as this is typically
for your eyes only. Maybe you want to obfuscate it for extra securi

[2015-09-17 12:57] hofnerb commented on #81
Good idea. Is that possible @giuseppec?

[2015-09-17 13:18] berndbischl commented on #81
That was always the idea, and implemented in an older version. But the obfuscation is indeed better.

[2015-09-17 14:12] giuseppec commented on #78
For all datasets with `in_preparation` something strange happens. Opening the directlink to the arff which is in preparation in the browser, e.g. `http://www.openml.org/data/download/1673502/file1c6c255c496d.arff` gives me the correct file, but downloading the file with R (which works for `active` datasets) gives me a html file that tells me `You don't have the right access rights to view this pag

[2015-09-18 07:59] giuseppec commented on #78
I think I know whats the problem:
1) If you use your internet browser and are not logged in openml, you will get the same `403 Forbidden` for the url: http://www.openml.org/data/download/1673502/file1c6c255c496d.arff (which is the data set from http://www.openml.org/d/1775 which is `in_preparation`).
2) Datasets that are active can be downloaded even if you are not logged in, try for example this

[2015-09-21 08:12] giuseppec commented on #49
Ok, we need to move on.
Currently, flows need not only the flow.xml but also another "sourcefile" to be uploaded. We decided to use a callstring and remove this function that currently creates the sourcefile that is uploaded:

[code]

What if we replace this function with something like:

[code]
so that we can use the function `runTaskMlr(task, learner)` to produce the run afterwards.

[2015-09-21 08:28] giuseppec commented on #49
Ok, we need to move on. Currently, flows need not only the flow.xml but also another "sourcefile" to be uploaded. We decided to use a callstring and remove this function that currently creates the sourcefile that is uploaded:

[code]
The user can download the flow hand has to use the `sourcedFlow` function (which is downloaded with the flow) to create a run from a specific task. For now we just ne

[2015-09-22 09:00] giuseppec commented on #81
Why do we have a `openmldir` arg in the `getDefaultConfig`? Do we need this? If yes, we should also add this arg in setOMLConfig etc.

[2015-09-22 12:37] giuseppec commented on #47
This can be closed as XSD files are referenced.

[2015-09-22 12:37] #47 closed

[2015-09-24 08:26] giuseppec opened #116 "Implement the setup API otherwise results are not reproducible"
Let's assume I want to reproduce the results of a specific run on my machine. To do so, I need the  `task.id`, the `flow.id` that defines my learner/algorithm AND the `setup.id` that defines the parameter settings of the learner/algorithm.

Currently, we do not have a function to retrieve the `setup.id` that contains the parameter settings of the corresponding flow. We need this.
Also, when we upl

[2015-09-24 08:54] berndbischl commented on #116
it is good to list the various ways here how to do this, so we can discuss it here better.

but one thing that I had in mind (not the only option to go about this, just one):
if you list the runs, you get the setup.id. the setup, that you then maybe have to download extra. should contain the "callstring". so then you have the task.id and what mlr does on the task. even with version numbers of pack

[2015-09-24 09:17] joaquinvanschoren commented on #116
There is a 'setup_string' in the run upload:
https://github.com/openml/website/blob/master/openml_OS/views/pages/rest_api/xsd/openml.run.upload.xsd

I think it would be good to have a callstring at the flow, run, and study
level (maybe also at the setup level).

The bigger question is whether OpenML should have a setup API at all, since
it adds complexity that we could easily hide? Why not simply

[2015-09-24 09:20] berndbischl commented on #116
This quickly begins to look like something we should discuss on hangout, with Jan and Guiseppe.
Next week?

[2015-09-24 09:33] joaquinvanschoren commented on #116
Sure, on Monday Jan is with me in Eindhoven.

Cheers,
Joaquin

On Thu, Sep 24, 2015 at 11:20 AM Bernd Bischl <notifications@github.com>
wrote:

[2015-09-24 12:31] giuseppec commented on #116
Okay, I have time from 12:15 till 17:45.

[2015-09-24 13:20] berndbischl commented on #116
i suggested 14:00 with @janvanrijn

[2015-10-06 22:05] joaquinvanschoren opened #117 "Can RWeka be dropped as a dependency?"
With Bernd's cool new ARFF parser, can we drop RWeka?
It is still listed as a requirement in the GitHub Readme.

[2015-10-06 22:10] jakobbossek commented on #117
Agree. I think at the moment we let the use choose between farff and rweka, but if farff is much faster than RWekas parser, why should a user choose the latter.

[2015-10-07 06:36] giuseppec commented on #117
The reason is that farff is still failing for several datasets, see issues with bug label in the farff-tracker (https://github.com/mlr-org/farff/issues).
I added a unit test (which is only executed locally and not on travis) here https://github.com/mlr-org/farff/blob/master/tests/testthat/test_reader.R. Until this test is still failing, we should keep RWeka as a working alternative. Also, there is

[2015-10-07 18:02] rgmantovani opened #118 "Error when running an OpenML Task"
Hi,

i'm trying to execute an openML Task, but something is not working. The task has the id = 1, and is a Supervised Classification task. The learner is an instance of the Random Forest algorithm with its default hyper-parameters.

task = getOMLTask(task.id = 1);
learner = makeLearner("classif.randomForest")
run.mlr = try( runTaskMlr(task, learner, verbosity = '2'))

When I execute these commands

[2015-10-07 18:08] berndbischl commented on #118
We are changing something in mlr here currently.
@giuseppec
pls look at my latest merged PR, where we revert the extract behavior.
benchmark will have NO extract function for now, on GH and upcoming mlr 2.5.
Rafael is probably using the CRAN version, which does not have this either.

How bad is this?

[2015-10-07 18:11] berndbischl commented on #118
it only seems to be the resample.extract option of benchmark.
pls remove this for now, and open a issue to enable this later, when mlr supports it

[2015-10-07 18:19] giuseppec commented on #118
It should work if you install the newest mlr version from github. Can you try to `devtools::install_github("mlr-org/mlr")`?

[2015-10-07 18:35] rgmantovani commented on #118
It did no work because of dependencies.

![screen shot 2015-10-07 at 8 33 53 pm](https://cloud.githubusercontent.com/assets/5933552/10347134/d55e8970-6d32-11e5-935b-eb85819f7bb0.png)

[2015-10-07 18:38] joaquinvanschoren commented on #118
I guess you have to check out ParamHelpers from github too?
devtools::install_github("berndbischl/ParamHelpers")

On Wed, Oct 7, 2015 at 8:35 PM Rafael G. Mantovani <notifications@github.com>
wrote:

[2015-10-07 18:45] giuseppec commented on #118
Give me 5 minutes, I will do a quick fix.

[2015-10-07 18:46] rgmantovani commented on #118
Joaquin, it didn't also work.

[2015-10-07 18:50] giuseppec commented on #118
Ok I did a quickfix. Can you install the new OpenML from github using `devtools::install_github("openml/r")` and try again?

[2015-10-07 18:55] rgmantovani commented on #118
It worked, but now presents another error message.

![screen shot 2015-10-07 at 8 54 32 pm](https://cloud.githubusercontent.com/assets/5933552/10347747/b82dbc56-6d35-11e5-94b4-481cecbd0aaa.png)

[2015-10-07 21:30] berndbischl commented on #118
I can reproduce Rafael's error both with mlr from CRAN and GH.

1) How is it possible that we have a green travis button?

2) Can this pls be fixed for the mlr GH version?

But first, there should be a test, that is run on travis, for stuff like this?

[2015-10-07 21:38] berndbischl commented on #118
No, false alarm. With the GH version it works.

@giuseppec : Increase the version req. for mlr to 2.5 in DESC.

@rgmantovani
Please post your sessionInfo(), it seems you are still running mlr 2.4 from CRAN.
You should always, in cases like this:
 post reproducible full example code + traceback + sessionInfo, please

[2015-10-08 00:50] joaquinvanschoren commented on #118
OK, it works if you take the latest Github versions:
devtools::install_github("berndbischl/ParamHelpers")
devtools::install_github("mlr-org/mlr")
devtools::install_github("openml/r")

Task: OpenML-Task-59, Learner: classif.rpart
[Resample] cross-validation iter: 1
[Resample] cross-validation iter: 2
[Resample] cross-validation iter: 3
[Resample] cross-validation iter: 4
[Resample] cross-validation

[2015-10-08 06:48] berndbischl commented on #118
Which is like it should be. We are not on CRAN yet.

[2015-10-08 06:48] #118 closed

[2015-10-15 13:12] giuseppec commented on #117
@berndbischl if we want to drop the RWeka dependency before going to CRAN, we should fix the issues labeled with "bug" in the farff tracker (https://github.com/mlr-org/farff/issues/12 and https://github.com/mlr-org/farff/issues/13). Or should we keep RWeka dependency?

[2015-10-15 14:22] berndbischl commented on #117
Ok thx. We can move Rweka to "SUGGESTS" soon I hope

[2015-10-22 08:17] meeliskull opened #119 "getCacheURI error: could not find function "file.size""
Hi,

I have the following problem running OpenML R package:

Error in getCacheURI("tasks", id, elements = c("datasplits.arff", "task.xml")) :
  could not find function "file.size"

I guess it is some dependency issue? Could you please point to which package is outdated or what the problem is? My environment is as follows:

R version 3.1.1 (2014-07-10)
Platform: x86_64-apple-darwin10.8.0 (64-bit)

[2015-10-22 09:02] giuseppec commented on #119
Try to update your R-version to at least 3.2.1 and write here again, if this did not help.

[2015-10-22 09:07] berndbischl commented on #119
@giuseppec
When was this function added to R?
Do we have that version req in DESCRIPION correctly?

[2015-10-22 09:18] giuseppec commented on #119
In https://cran.rstudio.com/doc/manuals/r-release/NEWS.html I don't see when this happend, but its in >=3.2.0 and not in <=3.1.3. I'll add this in the DESCRIPTION.

[2015-10-22 09:32] berndbischl commented on #119
Cant you use this instead?

file.info("file")$size

3.2 is a pretty hefty req....

[2015-10-22 10:24] giuseppec commented on #119
I think it is okay to use `file.info("file")$size` for now, although it is a bit slower. However, we should change this in a few years. @meeliskull it should work for you now without making an update.

[code]

[2015-10-22 10:24] #119 closed

[2015-10-26 11:02] jakobbossek commented on #107
This is a good idea. This way we get rid of that nasty server call in case of `cache.only = TRUE`. However, if `cache.only` is `TRUE` we should output a warning/message to inform the user, that he/she is maybe working on deactivated datasets.

[2015-10-26 11:18] jakobbossek commented on #81
At the moment we do not make use of `openmldir`. By default we assume the config file to be located in there, but in `loadOMLConfig` the path `~/.openml/config` is even hard-coded).
I think we wanted to store all the cached stuff in there, right? However, cached stuff is located in a temporary directory at the moment.

[2015-10-26 12:07] berndbischl commented on #81
This is something that should be defined globally. Please complain one "level" above, this needs to be fixed across tools now. For us, use the conventions that are currently defined for all other tools, nothing more, nothing less.

[2015-10-28 15:28] joaquinvanschoren opened #120 "Can we extend mlr's benchmark function to use OpenML?"
Say I have a list of (mlr) tasks and learners, I can do the following:
￼rdesc = makeResampleDesc("CV", iters = 3)
br = benchmark(learners, tasks, rdesc)

Can we extend this so that I can give a list of OpenML tasks, and have the benchmarking runs uploaded to OpenML? This would make it super-easy to run benchmarks on OpenML.

Option 1: an extension of the existing benchmark function that uploads ru

[2015-10-28 18:43] berndbischl commented on #120
Sure, we will have something like this.
But 2 comments:
a) We should publish the OML package and paper first. This is just "syntactic sugar", it is very "easy" to code this yourself.
b) The major question is where this function should "live". In mlr, in this package here, or in the "bot" we code to benchmark mlr on OML.

[2015-10-30 14:43] giuseppec commented on #112
We now have listOMLRunEvaluations (see 7ac6ba397379dc07b21b4fa96ec65b44fe4632a1), wich is basically the same as the old listOMLRunResults. I'll therefore close this issue.

[2015-10-30 14:43] #112 closed

[2015-10-30 14:51] giuseppec commented on #90
- Flows can't be uploaded twice as we use the `flow/exists` API to check if the flow is already on the server bevore we upload the flow.
- Runs can currently be uploaded more than once and I think this should also be allowed (for example when someone wants to upload the same run with a different seed.
Apropos seed: shouldn't we also store the seed (e.g. in the callstring) for reproducibility when

[2015-10-30 15:11] joaquinvanschoren commented on #90
In most cases the seed is an algorithm parameter. If it isn't then it
should definitely be in the callstring.

On Fri, Oct 30, 2015 at 3:51 PM giuseppec <notifications@github.com> wrote:

[2015-10-30 15:51] giuseppec commented on #90
Am 30.10.2015 16:11 schrieb "Joaquin Vanschoren" <notifications@github.com>:

Unfortunately not in R. And to make things worse : we never provided the
run with a seed information, which is bad for non-deterministic
algorithms/learners. So all the runs with non-deterministic learners are
not reproducible.

@Bernd do we have a possibility in mlr to find out deterministic learners,
whose results are

[2015-10-30 16:07] joaquinvanschoren commented on #90
I guess it is good practice to add this to the callstring for all methods?

For the old runs, I guess most R runs were for testing purposes anyway, so
we could possibly remove runs generated by you, me, bernd,...? It's not a
disaster to keep them either :). Good that we noticed this before running
large scale experiments.

Cheers,
Joaquin

On Fri, Oct 30, 2015 at 4:51 PM giuseppec <notifications@g

[2015-10-31 13:39] berndbischl commented on #90
1)

Not yet. We could be able to do this, but it would require some work and might be less straightforward then we think.
We should IMHO not rely on this here.

2)
Regarding existing R runs: At least *I* dont know of anything which could not be easily removed and replicated now.

3)
We cannot make the seed part of the call string. As mlr would not accept that, it simply is not part of the learner

[2015-11-02 15:51] giuseppec commented on #77
@joaquinvanschoren Bernd told me that this is now possible. Can you say something how I can use it? Do we have an API call for this?

[2015-11-02 16:08] joaquinvanschoren commented on #77
Well, it is say 90% finished. There is no distinct API call for studies,
for now we are just piggybacking on the tagging mechanism.
I also need to write documentation, but here is the gist:
* Create a new study by going to the website, log in, and click on the plus
sign in the top menu bar.
* Put in a title and description, your study is now created.
* You should get the study id (a small number).

[2015-11-02 21:29] berndbischl commented on #77
@giuseppec
Can you try to try this out with a mini study, from R, pls?
Only code in the package what we REALLY need to support this.
Eg one can without problem create the study through the web GUI for now.

[2015-11-03 10:27] giuseppec commented on #77
Bevore I start with implementing this study thing in the R package:
1) Do we want using tags for the studies in the future? I am okay with this, just asking if there are some other ideas how to do this in the future.
2) If we plan to do this via tags, I guess I should
 a) start implementing the tag and untag APIs in R for datasets, flows and runs, which is currently not implemented.
 b) update the

[2015-11-03 10:43] joaquinvanschoren commented on #77
Yes, this is the way this works in the backend. We don't want to duplicate
effort. Maybe there will be new helper calls in the future (e.g. an 'add
dataset to study call'), but those will mirror the existing call.

 2) If we plan to do this via tags, I guess I should

Yes

Good

Yes, tagging should work API-wide

Not yet.

Not yet.

I guess this does make perfect sense, and should be easy to do. W

[2015-11-12 23:00] rgmantovani opened #121 "Unexpected behavior when executing a OpenML task with no performance measure defined"
There is an error when a OpenML task, with no performance measure defined, is executed by "runTaskMlr" function. For example, if we try to run the [Task 9991](http://www.openml.org/t/9991):

![screen shot 2015-11-12 at 11 55 01 pm](https://cloud.githubusercontent.com/assets/5933552/11133853/d60a8db0-8998-11e5-90b7-ce7ec7f2a922.png)

using this code:

[code]

this error will happen:

![screen shot

[2015-11-13 07:36] giuseppec commented on #121
Hi,

@rgmantovani you can do this:
[code]

this task does not contain any info for the evaluation measure. Therefore, the run won't run until set an evaluation measure manually before you use `runTaskMlr`. This should be fixed on the server.
@joaquinvanschoren do we really want to have tasks online that have an empty `oml:evaluation_measures` field, see http://api_new.openml.org/v1/task/9991? Coul

[2015-11-13 07:39] giuseppec commented on #121
Alternatively, I could also set an default evaluation measure when the field is empty but not sure if we want this.

[2015-11-13 09:22] berndbischl commented on #121
@giuseppec
I agreed with Joaquin that tasks can have no measures on OML. Later OML on the server will evaluate everything.

What to do in that case: Set the default measure (mmce for classif, mse for regr) and display an info message that you did that.

[2015-11-13 13:18] rgmantovani commented on #121
Hi @giuseppec,
I had already did it. In fact, @joaquinvanschoren told me to create tasks with no performance measure.

[2015-11-14 16:09] #121 closed

[2015-11-14 20:22] joaquinvanschoren commented on #121
What was done in the end? Will the openml package now allow tasks without
fixed evaluation measure?
On Sat, 14 Nov 2015 at 17:09, giuseppec <notifications@github.com> wrote:

[2015-11-14 20:24] joaquinvanschoren commented on #121
Ah, ok I checked the code. Looks good :)
On Sat, 14 Nov 2015 at 21:22, Joaquin Vanschoren <j.vanschoren@tue.nl>
wrote:

[2015-11-16 08:25] giuseppec commented on #121
Used "predictive accuracy" for classification and "rmse" for regression (as we don't have a mse measure).
Short question: If I remember well, in mlr, we had a longer discussion about rmse. How does the server compute the rmse? There are at least two possibilities:

1) ![variant1](http://mathurl.com/ojm7w2f.png)
2) ![variant2](http://mathurl.com/o4725fw.png)

[2015-11-16 08:42] joaquinvanschoren commented on #121
The server uses Weka, which uses the second formula: RMSE = sqrt(SumSqErr/N)
http://weka.8497.n7.nabble.com/root-mean-squared-error-calculation-td19651.html

Cheers,
Joaquin

On Mon, Nov 16, 2015 at 9:25 AM giuseppec <notifications@github.com> wrote:

[2015-11-16 14:18] joaquinvanschoren commented on #90
Have you found a way to handle seeds? Please let me know when this is
implemented and I should remove the old MLR runs that we did.

Cheers,
Joaquin

On Sat, Oct 31, 2015 at 2:39 PM Bernd Bischl <notifications@github.com>
wrote:

[2015-11-16 16:51] giuseppec commented on #90
I have an idea, which I will discuss with bernd. However, this would require https://github.com/openml/OpenML/issues/217 to be fixed (that uploading only the flow.xml without a source or binary is possible).
Basically, I would like to do this:
1) Each flow contains the seed information (rng kind and the seed itself) as a parameter setting (here, we don't need the sourcefile or binary file, see als

[2015-11-18 11:27] joaquinvanschoren opened #122 "Cannot access dataset qualities"
I can download a list of OpenML dataset qualities, but I can't find how to get the qualities for a specific dataset (i.e. the /data/qualities/{data_id} call). They are also not included when I download a dataset.

Did I miss something or is this not implemented yet? Thanks.

[2015-11-18 11:45] giuseppec commented on #122
We have `getOMLDataSet` and `getOMLDataSetQualities`, did you use the latter? Would you prefer that the qualities are contained when downloading the dataset with `getOMLDataSet`?

[2015-11-18 11:57] joaquinvanschoren commented on #122
Ah, I didn't see getOMLDataSetQualities. This is fine, thanks!

[2015-11-18 11:57] #122 closed

[2015-11-25 09:29] mllg opened #123 "XML files with error messages get saved to the cache"
[code]

[2015-11-25 09:34] mllg opened #124 "convertOMLDataSetToMlr is broken"
https://github.com/openml/r/blob/master/R/convertOMLDataSetToMlr.R#L32

`data` is not defined.

[2015-11-25 09:57] berndbischl commented on #124
why dont we have unit tests for this?

[2015-11-27 12:40] giuseppec opened #125 "Add runtime-info to runs"
For instance http://www.openml.org/r/477080 contains time infos:

We measure the training time, testing time and the total sum:

[code]
You can also upload the cputime per CV fold:
[code]

[2015-12-01 09:24] #123 closed

[2015-12-01 12:58] #74 closed

[2015-12-01 12:58] berndbischl commented on #115
Lets do this now

[2015-12-01 13:00] berndbischl commented on #81
Lets do this now

[2015-12-01 13:00] berndbischl commented on #79
Florain basically did that,the code is in the mlr repo now

[2015-12-01 13:00] #79 closed

[2015-12-01 13:01] berndbischl commented on #78
Not now, maybe in 1.2

[2015-12-01 13:04] berndbischl commented on #62
We dont support this now, moved to 1.2.
@giuseppec Just add a check in the upload that this is not supported now and produce an error.

[2015-12-01 13:05] berndbischl opened #127 "do NOT upload all default params that the user did never touch"
only the changed params

[2015-12-01 13:05] berndbischl commented on #120
This is more of an mlr issue I guess, we should move this at some point

[2015-12-01 13:08] berndbischl commented on #102
Can we please clean this up and open a new issue?

[2015-12-01 13:23] jakobbossek opened #128 "Switch to secure authentication"
We moved from passing the API key by URL to passing it in the HTTP auth header. However, transmission of the API key is still performed in an insecure way. We need to **switch to https**.

The server guys need to find out how to realize this server-side first.

[2015-12-01 13:23] #124 closed

[2015-12-01 13:23] giuseppec opened #129 "Check if there are missing unit tests"
We should:
1) check if there are missing unit tests for some (exported) functions
2) make some unit tests "prettier" or extend them.

[2015-12-01 13:24] giuseppec commented on #124
Because nobody has written unit test after the refactoring from the OML workshop https://github.com/openml/r/commit/f2f3aefb67e38674b4b8ddfaf75fa88fd69a425f.
I fixed this issue, added a unit test and opened a new issue (#129) to check if there are other (exported) functions for which we don't have unit tests.

[2015-12-01 13:24] jakobbossek commented on #102
This is done and sufficient for v1.0. Later development should be discussed in #128.

[2015-12-01 13:24] #102 closed

[2015-12-01 14:01] mllg commented on #129
According to Coveralls, these are the most important candidates for more unit tests:

* `makeOMLFlowQuality`
* `makeOMLBibRef`
* `convertOMLDataSetToMlr`
* `uploadOMLFlow`
* `isCached` (maybe just not used anymore?)

Furthermore, most print functions should at least be triggered with `expect_output`.

[2015-12-01 14:22] berndbischl commented on #129
thx! jakob is currently here and he and giuseppe are working on this.

try at least to touch each function once in the tests and close this soon pls

[2015-12-01 14:26] jakobbossek commented on #115
Done.

[2015-12-01 14:26] #115 closed

[2015-12-01 14:26] mllg commented on #128
Free certificates: https://letsencrypt.org/

[2015-12-01 14:34] giuseppec commented on #87
We don't need/want the `auto.upload` in the runMlrTask function. You removed it, I reviewed this and agree -> this can be closed.

[2015-12-01 14:34] #87 closed

[2015-12-01 14:51] jakobbossek commented on #129
Just removed `ìsCached`, since it is not used anymore.

[2015-12-01 14:53] berndbischl commented on #129
isCached: ok, the function seemed internal and kinda unfinished. It might be a useful operation to see if some object is in the cache. But lets think about this when somebody REALLY needs it.

[2015-12-01 14:55] jakobbossek commented on #111
Removed internal `isCached` function, exported `clearOMLCache`. The remainder has already been done in the past month. Closing.

[2015-12-01 14:55] #111 closed

[2015-12-01 15:08] giuseppec commented on #114
This can be closed, as it is basically fixed in https://github.com/openml/r/commit/d3299966a4987ecc8bcb9ed9d97525ed87b3bc71. Here a short summary what is happening. `run = runTaskMlr(task, lrn)` takes a OpenML Task and a mlr learner and returns:
1) all infos for the run so that it can be uploaded
2) a `$mlr.benchmark.result` slot that contains the results produced by `mlr::benchmark`
3) a `$flow`

[2015-12-01 15:08] #114 closed

[2015-12-01 16:24] #125 closed

[2015-12-01 16:39] giuseppec opened #130 "Add runtime-info for each resampling iteration."
For now we upload only the total runtime (see https://github.com/openml/r/issues/125). Later, we might
1) add cputime for each resampling iteration.
2) add infos about the hardware?

[2015-12-01 21:32] berndbischl commented on #96
actually most important is that we define for the SERVER how crashed runs should be handled

[2015-12-01 21:32] berndbischl commented on #96
and what happens if only 1-2 iterations of the resampling crashed.

[2015-12-01 21:33] berndbischl commented on #86
we need to use lars' jenkins system for that

[2015-12-01 21:34] berndbischl commented on #86
or we write this with batchexperiments and run it manually

[2015-12-02 08:15] giuseppec commented on #116
This can be closed. Setup API is not necessary, as we decided to 1) use a call-string to reproduce the run and 2) allow to upload only the xml of the flow (without any sourcefile, see https://github.com/openml/OpenML/issues/217).

[2015-12-02 08:15] #116 closed

[2015-12-02 08:23] giuseppec opened #131 "remove functions that create a sourcefile"
For now, we are uploading a "nonsense" sourcefile to work around the issue that we currently have to upload a sourcefile. When https://github.com/openml/OpenML/issues/217 is fixed, we can remove functions such as `createLearnerSourcefile`.

[2015-12-02 08:23] giuseppec commented on #49
Close. Initial question has been answered and we don't have to worry about uploading a sourcefile when https://github.com/openml/OpenML/issues/217 is fixed. Further discussion can be done in a new issue: https://github.com/openml/r/issues/131

[2015-12-02 08:23] #49 closed

[2015-12-02 09:23] giuseppec opened #132 "what happens if we upload flows and results multiple times?"
Continue discussion regarding flows from https://github.com/openml/r/issues/90.

- **Flows**: Currently flows can't be uploaded twice as we use the `flow/exists` API to check if the flow is already on the server bevore we upload the flow. Here, the `name` and the `external.version` field of the flow are used as unique key. We decided that the `external.version` field is a string that contains the

[2015-12-02 09:24] giuseppec commented on #90
The seed issue should be fixed in https://github.com/openml/r/commit/ec105a098d9b00b6a00d62bc814223c2ae97a243. In short: we upload the seed-info as additional parameter settings for the run.
I close this issue and opened a new issue with a more concise description here: https://github.com/openml/r/issues/132

[2015-12-02 09:24] #90 closed

[2015-12-02 11:03] giuseppec opened #133 "openmldir and cachedir or only one of those?"
In https://github.com/openml/r/issues/81, Jacob said:

*At the moment we do not make use of `openmldir`. By default we assume the config file to be located in there, but in loadOMLConfig the path ~/.openml/config is even hard-coded).
I think we wanted to store all the cached stuff in there, right? However, cached stuff is located in a temporary directory at the moment.*

We should discuss here if

[2015-12-02 11:03] giuseppec commented on #81
I think this can be closed, as all discussed points are done:
- We have a function to create the OpenML config file, I also added a short unit test for this function
- We obfuscate the apikey when the config is printed
If we need to discuss this `openmldir` thing, we should do this in a new issue: https://github.com/openml/r/issues/133

[2015-12-02 11:03] #81 closed

[2015-12-02 11:24] jakobbossek commented on #133
We discussed that yesterday. The config file will always remain in `~/.openml/config`.
No need for the `openmldir` attribute.

[2015-12-02 12:01] jakobbossek commented on #133
Done

[2015-12-02 12:01] #133 closed

[2015-12-02 12:42] jakobbossek commented on #107
Added `getCachedOMLDataSetStatus` helper.

[2015-12-02 12:42] #107 closed

[2015-12-03 09:22] #127 closed

[2015-12-03 10:16] berndbischl commented on #130
IMHO we should only do what Joaquin currently does. And use rcimark to benchmark the hardware for now.

[2015-12-03 10:37] giuseppec commented on #117
Rweka and farff are already in "SUGGESTS". Default is Rweka, as farff is still a bit buggy.

[2015-12-03 10:37] #117 closed

[2015-12-03 12:33] giuseppec commented on #62
We only support parameters that can be converted to a string and have length 1. Therefore, hyperparameters that are functions, matrices or vectors are currently not supported.

[2015-12-03 16:28] jakobbossek commented on #129
There are tests for all exported functions now.

[2015-12-03 16:28] #129 closed

[2015-12-03 16:38] jakobbossek commented on #132
The MD5 hash is just a recommendation. I think we can stick to the current procedure.
I fully agree regarding the runs.

[2015-12-04 10:13] #131 closed

[2015-12-04 13:28] berndbischl commented on #130
Currently we are nearly done here, the time for a complete resampling is already measured. Folds COULD be done later, but are annoying.

We should only support times for single folds for mlr beacuse there it is easy. then we could close imho.

[2015-12-04 13:34] berndbischl commented on #130
@giuseppec
Please put the times in the XML and close here.

[2015-12-04 13:36] berndbischl commented on #96
@giuseppec
Pls write here what we currently do.

[2015-12-04 13:39] berndbischl commented on #45
@hofnerb
That is not urgent but would you write a little "demo" here, which is not completely nonsense and "toy case"

[2015-12-04 16:12] jakobbossek commented on #52
Finished

[2015-12-04 16:12] #52 closed

[2015-12-11 11:30] jakobbossek opened #134 "Upload rscimark to CRAN"
Just a reminder

[2015-12-28 16:39] PhilippPro opened #135 "many datasets cannot be downloaded"
I tried to download a lot of classification datasets and get many times this error

```getOMLDataSet(did = 3815, verbosity=0)```

[code]

[2015-12-28 16:46] PhilippPro commented on #135
Another error which happens many times is

 ```getOMLDataSet(did=3483) ```

[code]

[2015-12-28 16:47] joaquinvanschoren commented on #135
Hi Philippe, you are confusing dataset id's and task id's. There is no one
to one mapping because you can define multiple tasks on one dataset.

You can read the task description to find the task id, but you don't have
to: the dataset is contained in the task object.

Hope that helps,
Joaquin
On Mon, 28 Dec 2015 at 17:39, Philipp <notifications@github.com> wrote:

[2015-12-28 16:48] joaquinvanschoren commented on #135
I meant: You can read the task description to find the dataset id

On Mon, 28 Dec 2015 at 17:47, Joaquin Vanschoren <j.vanschoren@tue.nl>
wrote:

[2015-12-28 16:51] joaquinvanschoren commented on #135
That caching error should not happen.

Please delete your openml cache just to be safe.
On Mon, 28 Dec 2015 at 17:48, Joaquin Vanschoren <j.vanschoren@tue.nl>
wrote:

[2015-12-28 16:53] PhilippPro commented on #135
Oh thanks for the quick answer. I just thought datasets id is task id. ;)

[2015-12-28 17:07] berndbischl commented on #135
After that thing with the ids has been cleared up the "caching" error seems to remain?

And this seems valid, and has nothing to do with a poisened cache. I also get this in the dataset.arff

[code]

[2015-12-28 17:08] berndbischl commented on #135
@joaquinvanschoren
Is this our fault on the R side? apparently this is some kind of a private data set, which phillip was able to list. do we have to handle this somehow or are you letting it slip through on the server side?

[2015-12-28 17:12] joaquinvanschoren commented on #135
What is the dataset id? Because 3483 doesn't exist. Maybe this is a bad
response from our side.
On Mon, 28 Dec 2015 at 18:08, Bernd Bischl <notifications@github.com> wrote:

[2015-12-28 17:19] berndbischl commented on #135
Ah, sorry. I simply used that id=3483 as I though is *existed*.

At least on the R side we then make the mistake to not properly handle the server error message.

[2015-12-28 17:20] berndbischl commented on #135
Well, nope. It seems to be your problem. See here:

[code]

This is what would expect as a good respoinse from the server. and we handle it. but for 3483 you return something weird.

[2015-12-29 17:48] joaquinvanschoren commented on #135
Yep, something went wrong when Noureddin uploaded the QSAR datasets. All fixed now.
Shall we close this, or do we need to check that no datasets and descriptions are entered in the cache for such cases?

[2015-12-30 10:36] PhilippPro commented on #135
I detected some more problems. Some tasks that are shown with listOMLTasks cannot be downloaded.

Example:
[code]

Other example: did 233
Or regression tasks with did 496, 358.

Somebody should clean up there. ;)

[2015-12-30 15:29] berndbischl commented on #135
Dataset did actually has a data col.

1) We need a data qualtity feature, that counts these columns. Actually we need to make sure that of of these column types are detectable.

2) I really "hate" what happens in this thread. No, I dont mean a person or a post, I mean that we have this problem now for many months. Stuff is not downloadable and parseable in a reliable way. Instead we fix this again

[2015-12-30 15:40] berndbischl commented on #135
In 489, months are actually written like this:

6,28-Jun-02,31.98,33.30,31.98,33.15,5775000,32.10,aa

This creates an error. Apparently in Java, but also in R.
ARFF says that
https://en.wikipedia.org/wiki/ISO_8601

is used. The only definition for months I can find in there is numerical, not by 3 chars.

[2016-01-05 12:56] rgmantovani opened #136 "not getting flow.ids"
Hi,

I'm not able to get _'flow.ids'_ when running RunTaskMlr command:

![screen shot 2016-01-05 at 1 44 33 pm](https://cloud.githubusercontent.com/assets/5933552/12115526/5ed94a84-b3b3-11e5-91e4-7f8e2c38e5e8.png)

This is my code:
[code]

And this is my sessionInfo:

![screen shot 2016-01-05 at 1 41 35 pm](https://cloud.githubusercontent.com/assets/5933552/12115601/d840afde-b3b3-11e5-8adf-e7c1d37

[2016-01-05 15:46] joaquinvanschoren opened #137 "How does flow versioning work in the R package"
I sometimes see multiple copies of the same R flow:
http://www.openml.org/f/1750
http://www.openml.org/f/1752

They have the same dependencies: mlr_2.5, RWeka_0.4.24
They do have a different 'external version', e.g. R_011011216dbc8db349497de03a6a4b17

What is this external version exactly. The github commit hash of the OpenML package? Does it make sense to create a new flow version for every new e

[2016-01-05 15:49] joaquinvanschoren opened #138 "How does flow versioning work in the R package?"
I sometimes see multiple copies of the same R flow:
http://www.openml.org/f/1750
http://www.openml.org/f/1752

They have the same dependencies: mlr_2.5, RWeka_0.4.24
They do have a different 'external version', e.g. R_011011216dbc8db349497de03a6a4b17

What is this external version exactly. The github commit hash of the OpenML package? Does it make sense to create a new flow version for every new e

[2016-01-05 15:51] joaquinvanschoren commented on #138
Sorry, this is a duplicate.

[2016-01-05 15:51] #138 closed

[2016-01-05 18:13] giuseppec commented on #137
This has several reasons and I will use a unified `external version` after beta testing. Some reasons that I remember:
1) When we used the source-files the hash referred to the md5 hash of this source file
2) I switched from md5 to crc because its shorter
3) After the source-files are not needed anymore, I decided to used the md5 (or crc) hash of the dependencies string.
4) Because the dependecies

[2016-01-05 21:52] joaquinvanschoren commented on #137
Thanks, Giuseppe, that sounds good. I'll close this for now, and check it before the release.

[2016-01-05 21:52] #137 closed

[2016-01-06 16:19] rgmantovani opened #139 "Some mlr classifiers don't upload as an OpenML flow"
Hi,

I'm trying to run all the 'mlr' classifiers algorithms on some OpenML tasks. However I can't upload some of them as OpenML Flows: **_classif.glment_**, **_classif.kknn_**, **_classif.mda_**, and **_classif.sparseLDA_**.

I checked this with the following code:
[code]

For example, If I try to upload **_classif.kknn_**, this message error occurs:

![screen shot 2016-01-06 at 5 16 49 pm](https:

[2016-01-06 19:10] berndbischl commented on #139
@giuseppec

You might know this already but I just confirmed with Joaquin:

We can make the unit test OML R account read only. If we then upload during a unit test, the server will give a normal response. But nothing is stored on the server.
Please use this mechanism.

Regarding the package error in mlr: The ! in front of the package name is some mlr magic to load the package into global namespace

[2016-01-07 09:03] giuseppec commented on #139
The issue mentioned here should work now. The S4 error is related to https://github.com/openml/r/issues/62. If I remember well, we decided to currently not support hyperparameters that are functions, which is the case in the `family` hyperparameter in of the `glmboost` and `blackboost` learner. Therefore, I decided to throw this "parameters '' have mode 'S4' which is currently not supported" error

[2016-01-07 15:53] berndbischl commented on #139
@giuseppec
Please dont fix these things without adding a unit test!

[2016-01-07 15:54] berndbischl commented on #139
Regarding S4:
Didnt we agree that we wanted NOT to upload all defaults of parameters?
Otherwise we could convert them into strings.

[2016-01-07 15:55] berndbischl commented on #139
Actually, converting into strings is not hard. The ParamSet has names for these right?

[2016-01-07 20:45] berndbischl opened #140 "add unit test for data qualities"
this is potentially long running.
add a test where download the data properties table.
then check that the entries make sense.

then, for some data sets, maybe the smaller one, download the data sets and compute the properties with R. see if stuff matches.

[2016-01-07 20:46] berndbischl commented on #140
maybe it is not a bad idea to do this stochastically, always with different data sets.
but we need a PROPER way then to report the problem permanently

[2016-01-08 10:30] giuseppec commented on #136
The reason why you can't access the `flow.id` when you created a run locally with `runTaskMlr` is that you have to comunicate with the server to find this out (as it can be that the flow already exists).
In the past, we had an `auto.upload` option, but @berndbischl removed it, as we decided not to force an internet connection when `runTaskMlr` is executed,  see also https://github.com/openml/r/iss

[2016-01-08 13:31] giuseppec commented on #139
Unit test added.
Yes, we agreed not to upload the defaults, however only for flows (see https://github.com/openml/r/commit/e14a51947fdf22acc77c4871528e5b5b90edf29e).
For runs, we are also not uploading all default values, currently we upload everyting contained in `lrn$par.vals`. Unfortunately the default `family` in `glmboost` is the function `mboost::Gaussian()`, therefore mlr sets the default t

[2016-01-08 16:17] berndbischl commented on #139
No, every "value" in the discrete param has an associated "name". Which is always just a string.

Look here, from mboost.

[code]

see the list-names?

You can easily get them like this:

[code]

[2016-01-11 13:40] rgmantovani commented on #136
For me it's ok.
Thank you @giuseppec.

[2016-01-11 14:22] rgmantovani opened #141 "is there any way of tagging OML Runs?"
Is there any way of tagging OML runs using the openml/r package?

For example:

[code]

this way I have a new OML Run.
![screen shot 2016-01-11 at 3 09 54 pm](https://cloud.githubusercontent.com/assets/5933552/12235672/74008bf4-b875-11e5-87ff-d1b20e0c3727.png)

I tried the commands below and uploaded the new run:
[code]
It changes the object:
![screen shot 2016-01-11 at 3 11 50 pm](https://cloud.g

[2016-01-11 16:18] giuseppec commented on #141
The tag API is currently not implemented in R. It was planned for v1.1 (see https://github.com/openml/r/issues/77) if it is urgent/important for you, I can try to implement this in the next weeks.

[2016-01-11 19:06] rgmantovani commented on #141
If this works through the website, there is no problem, since I can add tags after the runs have been done.

[2016-01-11 19:08] #136 closed

[2016-01-16 08:15] giuseppec commented on #139
This should work now (+ small test added). I'll close this.
@rgmantovani could you please check if it also works for you and reopen if there is any problem.

[2016-01-16 08:15] #139 closed

[2016-01-16 11:43] giuseppec commented on #140
I guess you suggest to do this only with important data qualities (like `NumberOfClasses`, `NumberOfInstancesWithMissingValues`...). Because we have over 106 data qualities including qualities which I have never heard of.

[2016-01-17 14:14] giuseppec commented on #96
You can control what happens with `configureMlr`. If resample crashes and you have e.g.  `on.learner.error = "warn"`, the `FailureModel` and the predictions (which will be NA) are uploaded as usual runs (and without the error messages).
Should we avoid that failed runs are uploaded or do we want to upload failed runs (but of course including the error messages)?

[2016-01-18 13:40] giuseppec commented on #77
@joaquinvanschoren could you please write here how the `tag` and `untag` APIs should be used?
I have tried `http://api_new.openml.org/v1/run/tag/test_tag/506301` but this does not work.

[2016-01-19 09:40] joaquinvanschoren commented on #141
We have added Docs for the OpenML API, including tagging, cou can try them
here:
http://www.openml.org/api_docs/#!/run/post_run_tag

Cheers,
Joaquin

On Mon, Jan 11, 2016 at 8:06 PM Rafael G. Mantovani <
notifications@github.com> wrote:

[2016-01-19 20:32] joaquinvanschoren commented on #77
Try the new API docs ;)
http://www.openml.org/api_docs/#!/run/post_run_tag
On Mon, 18 Jan 2016 at 14:40, giuseppec <notifications@github.com> wrote:

[2016-01-19 20:52] #96 closed

[2016-01-19 20:54] giuseppec commented on #134
@berndbischl is this done? Also `farff` should be on CRAN.

[2016-01-20 05:25] berndbischl commented on #134
Ok, noted.Will do in a few days.
For farff I am not sure. Are we stable enough already?

[2016-01-23 16:48] giuseppec opened #142 "Add examples for important functions to docu"
We need to add a few examples for some functions.

[2016-01-23 19:05] giuseppec commented on #77
@joaquinvanschoren thx, nice new feature! Not sure if you noticed, but tasks are missing in the API docs (I don't need this but wanted to let you know).

[2016-01-23 19:28] giuseppec commented on #141
adding and removing tags should now be possible.
I still need to modify the `getOML*` and  `listOML*` functions so that they also show/contain the tag info. Therefore, I'll let this issue open.

[2016-01-23 22:27] joaquinvanschoren commented on #77
Yes I know, I need to find another free night to add that (and the error
codes)
On Sat, 23 Jan 2016 at 20:05, giuseppec <notifications@github.com> wrote:

[2016-01-24 10:03] giuseppec commented on #132
Ok, I think this can be closed. We can reopen if we need to discuss something.

[2016-01-24 10:03] #132 closed

[2016-01-24 11:19] giuseppec commented on #135
I try to sum up the unsolved issues from this thread:

1) The issue regarding did 3483 seems to be solved.
[code]

2) @berndbischl mentioned the `You don't have the right access rights to view this page.` "bug", which I already reported here: https://github.com/openml/r/issues/78#issuecomment-141099900. Not sure why this happend here, but in my case it happend for data sets that are `in_preparatio

[2016-01-24 12:44] giuseppec commented on #75
Do you mean something like this?:

[code]
![img](http://i.imgur.com/ULZ7xuL.png)

[2016-01-24 12:47] giuseppec commented on #86
Why not using `if (identical(Sys.getenv("TRAVIS"), "true")) { run_long_test_on_travis } else { run_short_test_locally }`?

[2016-01-24 12:54] giuseppec commented on #62
works now, see also https://github.com/openml/r/issues/139

[2016-01-24 12:54] #62 closed

[2016-01-25 23:44] joaquinvanschoren commented on #135
Weird, you should not see the in_preparation datasets at all. I fixed this
now. The idea is that a dataset stays in preparation (and thus not returned
by /data/list) until it has passed the necessary checks that it can be
parsed. We are working on a CI setup to check this.

That should solve the issues in this thread.

I have set 496, 358, 489 to 'in preparation'. It is now up to the user to
fix t

[2016-01-27 13:08] rgmantovani commented on #139
Thanks @giuseppec.

[2016-01-28 12:15] berndbischl commented on #135
@giuseppec
For 3): If farff has problems, open up issues there. But ckeck the tracker first whether the problem is already known and reported.

[2016-02-10 17:10] berndbischl opened #143 "remove calls to dir.exists"
this is an 3.2.0 dependency and not worth it
see here
https://github.com/hadley/staticdocs/issues/33

[2016-02-10 17:33] mllg commented on #143
Or define some backports, e.g.:

[code]

[2016-02-10 17:43] berndbischl commented on #143
@mllg

is there actually any advantage in the backport if we have to add and maintain the code anyway?
is the now-available dir.exists in base-R any better?

[2016-02-10 17:44] berndbischl commented on #143
Also see this thing here
(mainly a user problem, but still for reference)

https://github.com/berndbischl/parallelMap/issues/37

[2016-02-10 17:51] mllg commented on #143
[code]

It seems to be more efficient.

[2016-02-10 17:52] berndbischl commented on #143
Conclusion:
Lets do the backport.

[2016-02-12 11:06] joaquinvanschoren opened #144 "Error in documentation"
In the tutorial, under configuration, you mention 'loadOMLConf()'
This has since been renamed to loadOMLConfig()

I can update the .md file, but I assume these docs are created by Knitr?

[2016-02-12 11:31] berndbischl commented on #144
You simple need to edit the .Rmd files, never touch the autogened .md files.

[2016-02-17 10:24] mllg opened #145 "runTaskMlr is not very convenient"
I want to apply a learner on a task. This is what I have to do to get the aggregated performance measure:

[code]

1. Why do I have to construct the task with `getOMLTask()` and why do I have to construct the learner with `makeLeaner()`?
2. Why do I get a benchmark result instead of a `ResampleResult`? `runTaskMlr` only supports single tasks and single learners, the object is unnecessarily nested.

[2016-02-17 10:30] mllg commented on #145
Or the other way around: I'm missing a benchmark-equivalent function in OpenML.

[2016-02-17 11:10] berndbischl commented on #145
point 1: the package has to have a clean interface first. everything else is of minor importance now. help us to finish that. but if you want to add convenience sugar now, do a PR.

point 2: becaue the BMR is most general. we can join them at the end and use mlr's analysis tools. the other way with only RR does not work.

point benchmark: yes, another convienence function. we do have code for this

[2016-02-17 11:11] berndbischl commented on #145
we actually discussed this quite at length where the benchmark code should go. i guess it is better to discuss this an hangout, if you want more of that.

[2016-02-17 11:15] berndbischl commented on #145
I also can see the access for the result being somewhat ugly, but you need to make a workable positive suggestion

[2016-02-17 17:01] berndbischl commented on #145
We agreed:
1 is simple to fix. We can do this later.
2: The BMR is a useful object for now. We want to be able to join them with a "c" function.
Maybe we want to have an easier getter.

[2016-02-18 14:04] giuseppec commented on #145
We have a `convertOMLTaskToMlr` function in OpenML and benchmark merger functions https://github.com/mlr-org/mlr/blob/master/R/benchmarkResult_mergers.R. Does this help? Of course we could introduce generic methods `runTaskMlr.OMLTask`  and `runTaskMlr.Task`, which I also had in mind. Is that what you want?

[2016-02-19 09:29] berndbischl opened #147 "support optim tuning traces"
Joaquins mail:

Dear all,

We are extending the OpenML classification task with the possibility to upload the hyperparameter optimization trace. This does not affect the way normal runs are uploaded.

If you want to upload an optimized run, you state the flow_id of the *optimization algorithm* instead of the learner in the run description, and you upload an additional arff file with the trace of t

[2016-02-19 09:30] berndbischl commented on #147
[code]

[2016-02-19 09:35] joaquinvanschoren commented on #147
Thanks. Ho

[2016-02-19 09:36] berndbischl commented on #147
@giuseppec what are you doing?

[2016-02-19 11:04] giuseppec commented on #147
Don't know happend here, I havn't even seen this thread... Of course it should stay open.

[2016-02-23 15:36] hofnerb commented on #144
Fixed!

[2016-02-23 15:36] #144 closed

[2016-02-23 15:41] hofnerb opened #148 "Check tutorial intro"
Can someone please check if the input and output as specified in the overview of `1-Introduction.Rnw` is (still) correct.

Please also check the wording in the rest of the text.

[2016-02-23 15:56] hofnerb opened #149 "listOMLSetup will not be implemented?"
If I interpret #116 correctly, I can remove the following passage

from `3-Listing.Rmd`. Correct?

[2016-02-23 17:31] joaquinvanschoren commented on #149
Yes, this can be removed.

On Tue, Feb 23, 2016 at 4:56 PM Benjamin Hofner <notifications@github.com>
wrote:

[2016-02-24 08:53] #149 closed

[2016-02-24 09:00] giuseppec commented on #148
I would do this little change:

[code]

Depending on how the discussion in https://github.com/openml/r/issues/145 ends, we can extend this later to
[code]

[2016-02-24 15:04] joaquinvanschoren opened #150 "Uploading dataset"
Do we have a function for uploading datasets programmatically through R? I have a set of nice datasets for educational purposes I would like to include (all ARFF):
https://github.com/deric/clustering-benchmark/tree/master/src/main/resources/datasets/artificial

[2016-02-24 15:05] joaquinvanschoren commented on #150
Argh, of course we do and I even wrote that one a long time ago :D. No documentation though :(

[2016-02-24 16:21] giuseppec commented on #150
If you make mlr Tasks out of the data sets, you can do `uploadOMLDataSet(task)`.

[2016-02-24 16:29] joaquinvanschoren commented on #150
I don't see exactly how that works. I thought that I first had to make an
dataset wrapper including the description (e.g. author, text description,
url) and the file. When I look at the dataset description constructor
however, it requires a dataset id. Thus it seems like this is meant to
download an existing dataset description rather than composing one from
scratch.

If I upload via the  task, wi

[2016-02-24 22:15] joaquinvanschoren opened #151 "Verbosity levels"
How do I set the verbosity level?

Currently, when I import a dataset, I get an output like:
Data '61' file 'description.xml' found in cache.
Data '61' file 'dataset.arff' found in cache.

Can I suppress that? It messes up my slides...

[2016-02-25 00:37] berndbischl commented on #151
Well, every function has a verbosity arg?
Its documented?

#' @param verbosity [\code{integer(1)}]\cr
#'   Print verbose output on console? Possible values are:\cr
#'   \code{0}: normal output,\cr
#'   \code{1}: info output,\cr
#'   \code{2}: debug output.\cr
#'   Default is set via \code{\link{setOMLConfig}}.

You can also set it in your config? Also documented?

[2016-02-25 00:37] #151 closed

[2016-02-28 14:34] hofnerb opened #152 "listOMLRunResults / listOMLRunEvaluations"
- Is `listOMLRunEvaluations` the same as the deprecated `listOMLRunResults`?
- And why does `listOMLRunEvaluations` has an argument `setup.id`? Is setup available or not?

[2016-02-28 14:36] joaquinvanschoren commented on #152
From my understanding:
- Yes
- There should not even be a setup id option

On Sun, Feb 28, 2016 at 3:34 PM Benjamin Hofner <notifications@github.com>
wrote:

[2016-02-28 15:41] hofnerb opened #153 "Bug in listOMLRunEvaluations"
[code]

[2016-02-28 16:03] hofnerb opened #154 "Only active data sets available?"
If I choose a status `!= "active"` I do not get any data:
[code]
If this is correct, shouldn't we drop the status argument?

[2016-02-28 17:09] hofnerb commented on #152
But we seem to get a setup.id from the server:
[code]

[2016-02-28 17:10] hofnerb opened #155 "Check open issues in tutorial"
- [ ] 4-Downloading.Rmd
- [ ] 5-Running.Rmd
- [ ] 6-Uploading.Rmd

Issues are marked with `??? FIXME:`

[2016-02-29 08:47] berndbischl commented on #152
@joaquinvanschoren @giuseppec
Can you comment on this? Why is there a setup id still there and do we have to remove one function?

[2016-02-29 08:48] berndbischl commented on #152
From what I am seeing here, listOMLRUns basically returns a (pretty useless for enduser) database id table?

[2016-02-29 08:51] berndbischl commented on #154
Hi. IMHO we still need  the status arg. Data sets will get activated in the future, so we need to be able to ask about them and filter. But it strange that at the moment there seem to be do "deactivated" ones.
@joaquinvanschoren can you please comment?

[2016-02-29 08:56] berndbischl commented on #153
Please @giuseppec repair this and transform this into a unit test

[2016-02-29 11:38] giuseppec commented on #152
1) The API allows to use the `setup.id` to get the runs (e.g. http://api_new.openml.org/v1/evaluation/list/setup/96) and the xml returns also information about the `setup.id`. Therefore, also our R function is able to do this and to display a `setup.id` column. If we want to remove this, we should remove this in the API first, right? Or should I simply "hide" this column in the output?
2) `listOML

[2016-02-29 12:00] giuseppec commented on #153
This bug results from an API-Change. I will fix this as soon as we find a conclusion in https://github.com/openml/r/issues/152.

[2016-02-29 12:05] giuseppec commented on #154
If I remember well this was not always the case. Apparently something was changed from the server side. @joaquinvanschoren do you have a NEWS file like https://github.com/mlr-org/mlr/blob/master/NEWS where we can always see such changes that might break our package?

[2016-02-29 12:18] giuseppec commented on #150
You could also use the `makeOMLDataSet` Function to create a `OMLDataSet` where you can also write your description and use `uploadOMLDataSet` function on this `OMLDataSet` Object.

I found it annoying to do this manually, so I also added the `uploadOMLDataSet.Task` function that automatically creates this `OMLDataSet` Object from a mlr task and uploads it (of course without a description). But I

[2016-02-29 12:23] giuseppec commented on #145
ping.

[2016-02-29 13:21] giuseppec commented on #154
I think this is a result from the change mentioned here: https://github.com/openml/r/issues/135#issuecomment-176151196

[2016-02-29 13:31] hofnerb commented on #154
In that case we should at least remove `"in_preparation"`?!

[2016-02-29 13:34] hofnerb commented on #152
If you proceed along 3): Wouldn't it be easier to have a function `listOMLRuns` which behaves as the current `listOMLRunEvaluations` (possibly with changes as indicated in 4)? The latter name is very long and hard to remember!

[2016-02-29 13:35] berndbischl commented on #154
we should always simply reflect what the server API specifies here. so if joaquin does not allow us to see "in_prep" data sets, we can remove those from the status arg

[2016-02-29 13:35] hofnerb commented on #155
At best, you could directly make changes in the Rmd files and only discuss difficult issues here.

[2016-02-29 13:39] #148 closed

[2016-02-29 13:52] giuseppec commented on #155
Regarding `4-Downloading.Rmd`:
We maybe should use a newer run then `run = getOMLRun(run.id = 234L)`. As several changes happend since this run was created.

@berndbischl here a few things I never touched and which I think were implemented by you (or dominik):
`getOMLRun(run.id = 234L)$input.data` and `getOMLRun(run.id = 234L)$output.data`: what was this printout intended for? Do we still need thi

[2016-02-29 14:06] hofnerb commented on #155
@giuseppec: Can you change the run to a newer run (and update the text accordingly)? Thx.

[2016-02-29 14:06] giuseppec commented on #154
"in_preparation" is something like a "pending" status and was intended as a "temporary" status until the data set has been reviewed and activated by a openml admin, right?
If yes, it would help if a user sees this status so he knows "oh, well, I have to wait until my data set gets activated". Otherwise he does not know what happend with his data set and he might upload it again and again.
Imagine

[2016-02-29 14:13] hofnerb commented on #154
Yes, but @joaquinvanschoren has written [here](https://github.com/openml/r/issues/135#issuecomment-174733199)

[2016-02-29 14:20] giuseppec commented on #154
I know, this was just a suggestion if we want to change this from server-side. I am okay with everything. Let's see what @joaquinvanschoren says.

[2016-03-01 07:19] giuseppec commented on #155
I'll do this. Regarding the `input.data` and `output.data` we agreed on:
- making the print-function for runs prettier so that not only the IDs are shown, but also a better description.
- Printing the head and/or tail in `*** Evaluations ***` for the evaluation measures of this run.
I'll also do that.

[2016-03-01 09:07] berndbischl commented on #145
we will look at this next week

[2016-03-01 09:17] #153 closed

[2016-03-01 14:25] giuseppec opened #156 "server sanity checks"
Here a little sanity check (using the first 10 `task.id`'s) to see if the `run/list` and `evaluation/list` API work:

[code]

[code]

We can make a long-running unit test out of this if we want.

[2016-03-01 14:36] HeidiSeibold opened #157 "Typo in setOMLConfig error message"
[code]

Should be `overwrite` instead of `override`.

[2016-03-01 14:39] joaquinvanschoren commented on #157
Is this you API key? Then please make a new one immediately (on website in
your account settings). You should never post them.
On Tue, 1 Mar 2016 at 15:36, Heidi Seibold <notifications@github.com> wrote:

[2016-03-01 14:43] HeidiSeibold commented on #157
No it was an old one. Since then I got a new one. Sorry.

[2016-03-01 14:46] joaquinvanschoren commented on #157
Good :). Thanks for creating the issue. I think @guiseppec will take it?

On Tue, Mar 1, 2016 at 3:43 PM Heidi Seibold <notifications@github.com>
wrote:

[2016-03-01 14:56] HeidiSeibold opened #158 "Listing tutorial typo: should be task.type instead of task_type in subset(tasks, ...)"
In the tutorial https://github.com/openml/r/blob/master/doc/knitted/3-Listing.md it should be

[code]
instead of

[code]

[2016-03-01 14:56] #157 closed

[2016-03-01 15:03] giuseppec commented on #158
Don't trust the .md files as we are not pushing them regularly (they are automatically created with knitr). They are a compiled version of the .Rmd files. Look at the corresponding .Rmd files (e.g. https://github.com/openml/r/blob/master/doc/3-Listing.Rmd).

[2016-03-01 15:14] HeidiSeibold commented on #158
Aha, okay I guess this can be closed then.

Would maybe be worth updating the tutorial that users see so they (and I) don't get errors ;)

[2016-03-01 15:57] #158 closed

[2016-03-01 16:03] giuseppec commented on #158
I see, we didn't update the compiled files for half a year. Its better to see a incomplete tutorial with some FIXMEs than a tutorial that gives you wrong information.

[2016-03-01 16:14] berndbischl opened #159 "make a vignette of the tutorial, let travis build it, simply link to it"

[2016-03-01 16:25] giuseppec commented on #159
Should this happen in the current directories? Or do you want a vignette dir?

[2016-03-01 16:49] berndbischl commented on #158
also see #159

[2016-03-01 16:53] berndbischl commented on #159
i think the easiest solution is to keep the Rmd files we currently have in hopefully exactly the same structure and format. and simply copy them to the vignette part of the package. then we auto-build the package and travis and check it (we do this already) and simply link to the out-rendered tutorial.

for the last pasrt i guess we have to add a few to travis to push it into the gh-pages. but we

[2016-03-02 13:40] hofnerb commented on #158
I didn't update and push the md files recently as I didn't consider this to be of importance a.t.m. As Bernd suggested this should be done automatically in the future. Perhaps we can delete the outdated md files right now?

[2016-03-02 13:40] hofnerb commented on #159
I wanted to discuss the "how-to" anyway. Very good idea. I'd say we can do this as soon as all open issues in the tutorial are resolved.

[2016-03-02 13:48] giuseppec commented on #158
I already did a fast iteration over the .Rmd's (and did some changes with respect to your ***Fixmes***) and compiled them yesterday. We have now updated .md files of the (incomplete) tutorial.

[2016-03-02 15:44] HeidiSeibold opened #160 "convertOMLDataSetToMlr() returns error if mlr:::getMlrOption("show.info") in NULL"
[code]

Possible fix would be to set
[code]
in https://github.com/openml/r/blob/e6703ecc13709edfa343bfcbdcd055059672b886/R/convertOMLDataSetToMlr.R#L80

[2016-03-02 15:48] HeidiSeibold commented on #160
Or to load mlr

[2016-03-03 05:26] giuseppec commented on #160
Looks like a mlr bug at first sight because the error happens in `removeConstantFeatures`. Which mlr version do you have?

[2016-03-03 08:09] HeidiSeibold commented on #160
Version 2.8

[code]

[2016-03-03 09:49] HeidiSeibold opened #161 "Typo in getOMLDataSetQualities.R"
https://github.com/openml/r/blob/e6703ecc13709edfa343bfcbdcd055059672b886/R/getOMLDataSetQualities.R#L10

Retruns -> Returns

[2016-03-03 09:50] berndbischl commented on #161
I seems tedious if you have to open issues for typos. Do you want to do push rights?

[2016-03-03 10:06] HeidiSeibold commented on #161
Sure :sunglasses:

[2016-03-03 10:10] berndbischl commented on #161
Can you maybe tell me your contact details on hangout? I can explain a bit then how to go about this

[2016-03-05 10:54] #143 closed

[2016-03-07 00:45] joaquinvanschoren opened #162 "Tutorial: example workflow outdated"
Here is a simple workflow that works (just tested). It benchmarks 3 classification algorithms on 3 tasks.
[code]

[2016-03-12 11:01] #141 closed

[2016-03-12 15:39] giuseppec commented on #160
The easiest way to fix this is to put 'mlr' from `imports` to `depends` in the package description. @berndbischl can I do this?

[2016-03-14 10:12] jakobbossek opened #163 "makeOMLDataSet needs more sanity checks"
We should thoroughly check the parameters of `makeOMLDataSet`. Until now not a single check is performed, e.g., whether the `target` column actually exists.

[2016-03-14 12:02] jakobbossek opened #164 "add convenience functions for tagging"
We have `tagOMLObject` at the moment. Here we need to pass
* the method, i.e., add/remove
* just a single tag

I think we should make this function internal and offer `{tag,untag}OMLObject` convenience functions which delegate to the internal one, accept an arbitrary number of tags and do not require to pass the `method` attribute anymore.

[2016-03-14 12:51] mllg commented on #159
I've copy-pasted all Rmds into a single file which can be found in `vignettes/`. The navigation is a bit impaired as we cannot have multiple files and link between them. We can discuss this later offline.

[2016-03-14 12:55] jakobbossek opened #165 "Add possibility to filter datasets by tags"
Filtering datasets, tasks or in general any openml object by tag seems to be a good idea. Maybe we should add a `tags` parameter to the `listOML...` functions?

[2016-03-14 13:34] jakobbossek opened #166 "Mention that the default cache dir is temporary"
This question arised during our R interface presentation.
Some less experienced users might be confused by the fact, that the cache directory is temporary. We should thus mention this as a note in the docs and the tutorial

[2016-03-14 14:03] giuseppec commented on #165
Agreed. This is already a planned feature for the API, see https://github.com/openml/OpenML/issues/238. As soon as this extension is available in the API, we can add it to the `listOML*` functions.

[2016-03-14 14:09] jakobbossek commented on #165
The tags are already included in the task informations. However, the server guys need to add them to the other list functions. This should not be that time-consuming. We should thus aim to add this feature to v1.0.

[2016-03-14 14:11] kerschke commented on #165
Why not discuss this issue in the gitter-chatroom - since its related to the other groups as well?

[2016-03-14 14:15] #160 closed

[2016-03-14 14:15] #161 closed

[2016-03-14 15:06] jakobbossek commented on #150
I think `makeOMLDataSet` is what Joaquin is searching for. However, one needs to pass a data frame to that function. Maybe add the possibility to pass the path to an arff file as well?

[2016-03-14 16:54] jakobbossek opened #169 "runTask should become S3 method"
... to allow alternatives to mlr.

[2016-03-15 06:34] giuseppec commented on #135
I think we can close here

[2016-03-15 06:39] giuseppec commented on #120
Closing here as this is a duplicate of https://github.com/openml/openml-r/issues/145

[2016-03-15 06:39] #120 closed

[2016-03-15 08:46] giuseppec commented on #164
Jup, also had this in mind, it makes totally sense to add this to the package. I merged.

[2016-03-15 08:46] #164 closed

[2016-03-15 10:24] jakobbossek commented on #166
Done

[2016-03-15 10:24] #166 closed

[2016-03-15 10:33] #163 closed

[2016-03-15 11:08] jakobbossek commented on #154
@joaquinvanschoren Can you please comment on this?

[2016-03-15 12:55] jakobbossek commented on #134
@berndbischl I am going to upload rscimark in a moment.

[2016-03-15 13:54] jakobbossek commented on #152
@hofnerb +1
We should let the shorter `listOMLRuns` function do the job. This function should return all runs (only the successful ones if a parameter `success.only` is `TRUE`). The returned data frame should consist of an additional logical column indicating whether the corresponding run was successful.

[2016-03-15 14:15] mixacom commented on #155
I have a question about code in 04-Downloading.Rmd
[code]
As a result I and one other person got 3 lists while Giuseppe received only one list as it should. I used the latest version of OpenML package. Could you check it?

[2016-03-15 14:33] jakobbossek commented on #155
You get a list of three lists ;-)
[code]

[2016-03-15 14:37] jakobbossek commented on #134
Just uploaded rscimark to CRAN

[2016-03-15 15:36] #150 closed

[2016-03-15 16:38] mllg opened #171 "Return value of runTaskMlr"
It should return a list of the three elements OMLRun, BMR, Flow (instead of assigning everything in the OMLRun).

[2016-03-15 16:40] mllg opened #172 "Converter OML-Run -> BMR missing"
We need this to analyze runs using mlr.

[2016-03-15 16:42] mllg opened #173 "Printer for run needs to be extended"
E.g., include the name of the learner.

[2016-03-15 16:43] berndbischl commented on #173
and maybe little more, like some measures.

[2016-03-15 17:38] jakobbossek opened #174 "Switch to new API"
Change the API call URL.

[2016-03-15 17:50] mllg commented on #174
Currently breaks the vignette, need to check this thoroughly.

[2016-03-15 17:53] giuseppec opened #176 "check the #FIXMEs in the .R files"
1) check them,
2) fix them, if possible. Otherwise create issues out of them
3) remove irrelevant or fixed #FIXMEs

[2016-03-15 18:03] jakobbossek commented on #174
Breaks the vignette on travis only. No problem building it locally.

[2016-03-15 18:07] jakobbossek commented on #174
I was stupid. Fails locally as well.

[2016-03-15 18:11] jakobbossek commented on #174
Well, http://api.openml.org/v1/data/list page does not exist. Maybe we need to wait for a while until the new subdomain is created.

[2016-03-15 18:50] jakobbossek commented on #174
Done

[2016-03-15 18:50] #174 closed

[2016-03-15 18:50] giuseppec commented on #174
Done, it is http://www.openml.org/api/v1/.

[2016-03-15 18:57] giuseppec commented on #165
Server changes are done. However, bevore we start implementing this, we should merge with the documentation branch first.

[2016-03-15 18:59] jakobbossek commented on #171
Done via 0a4db82

[2016-03-15 18:59] #171 closed

[2016-03-15 19:00] jakobbossek commented on #165
Unfortunately we can only filter by single tags. Maybe we should wait until filtering by multiple tags is supported?

[2016-03-15 19:23] berndbischl commented on #165
do the following: if a single tag is passed into the R function, pass it to the server.
if mulltiple tags are passed, filter the tag column locally in R

[2016-03-15 20:41] jakobbossek commented on #165
There is no tag column at the moment. I already complained to the server guys about that.

[2016-03-15 23:10] joaquinvanschoren commented on #154
This is default behaviour since the new API. I'll add a status filter so
that you can get the other ones too, on request.

On Tue, 15 Mar 2016 at 12:08, Jakob Bossek <notifications@github.com> wrote:

[2016-03-16 09:09] jakobbossek commented on #154
Can you please add a special status `all` so we can access all datasets with just a single request?

[2016-03-16 10:27] mllg commented on #169
Closed, we cannot dispatch on first argument.

[2016-03-16 10:27] #169 closed

[2016-03-16 10:40] kerschke opened #177 "check tests for read-only key"
Some of our tests (`deleteOMLObject`, `runTaskMlr`, `uploadOMLDataSet` and `uploadOMLRun`) fail (locally) when we have a read-only key in the config file, because the tests try to write to the server and the server does not permit it. Instead it will always return the following 'error' message:

[code]

[2016-03-16 11:17] jakobbossek commented on #165
Working on this for flows, datasets, tasks and runs.

[2016-03-16 11:50] jakobbossek commented on #165
Done

[2016-03-16 11:50] #165 closed

[2016-03-16 12:13] jakobbossek commented on #173
You mean the evaluation measures? These are already printed if the argument `print.metrics` is `TRUE`.

[2016-03-16 12:48] jakobbossek opened #180 "ask user to confirm upload"
The default behaviour should be to ask the user for confirmation before upload.
Moreover, we should introduce a new configuration parameter to skip this.

[2016-03-16 13:32] jakobbossek commented on #180
See PR #181

[2016-03-16 13:40] jakobbossek commented on #154
@joaquinvanschoren Do it. Do it now! :wink:

[2016-03-16 13:53] jakobbossek commented on #173
Added output of flow.name and task.type.
Measures are displayed if `print.metrics = TRUE`.
Closing. Reopen if something is missing.

[2016-03-16 13:53] #173 closed

[2016-03-16 13:53] jakobbossek commented on #180
Done

[2016-03-16 13:53] #180 closed

[2016-03-16 15:32] HeidiSeibold opened #182 "Ask user if they are sure that the want to upload"
Ask the user if he is sure that he wants to upload to the server.

Make possibility to always set to "yes" in config.

We talked about this yesterday and think we agreed that we want this.

[2016-03-16 15:33] jakobbossek commented on #182
This is already done

[2016-03-16 15:33] #182 closed

[2016-03-17 07:48] giuseppec opened #185 "Download all datasets contained in all R-packages"
We can do something like (ugly code) and then upload everything

[code]

[2016-03-17 09:42] dominikkirchhoff opened #186 "Use "=" instead of "<-""
In the examples, mostly arrows are used. We should consistently use "=" over "<-".

[2016-03-17 09:43] jakobbossek commented on #186
Already working on that

[2016-03-17 09:43] berndbischl commented on #186
do this now, it is a simple search-replace.
just watch out that we dont get merge conflicts

[2016-03-17 09:45] jakobbossek commented on #186
Going to push to the documentation branch first

[2016-03-17 10:01] jakobbossek commented on #186
Done

[2016-03-17 10:01] #186 closed

[2016-03-17 10:07] giuseppec opened #187 "Do we really want to force user to use integers for the IDs?"
This fails:

[code]

Many R users even don't know that they have to type `59L` instead of `59`. I bet that at least 50% of the R-Community don't even understand this Error message. We definitely should allow also numerics (maybe check them to ensure that `%% 1 == 0`), but not force the user to type in an integer, right?

[2016-03-17 10:08] jakobbossek commented on #187
Good point. Going to convert inputs to integer and allow simple numerics

[2016-03-17 10:09] berndbischl commented on #187
.....
Please use checkmate correctly :)
asInt, asInteger exists.

This holds true for all projects that we work on....!

[2016-03-17 10:10] berndbischl commented on #187
And please never do these things manually. Usually the solution already exists in a service package, either from us, or from other parties.

[2016-03-17 10:12] berndbischl commented on #187
https://mllg.github.io/checkmate/vignettes/checkmate.html

Browse thru here. Really read ALL functions if you feel unsure.
What you are asking about is covered here:

"Safe Coercion to integer"

[2016-03-17 10:12] jakobbossek commented on #187
Using `asCount` everywhere

[2016-03-17 10:32] jakobbossek commented on #187
Done

[2016-03-17 10:32] #187 closed

[2016-03-17 12:41] jakobbossek commented on #134
rscimark is finally on CRAN. farff is not that important for the moment.
Closing.

[2016-03-17 12:41] #134 closed

[2016-03-17 13:29] jakobbossek commented on #154
All datasets get returned now. We filter active by default via `status`.
Closing.

[2016-03-17 13:29] #154 closed

[2016-03-17 14:19] kerschke opened #188 "error when uploading an oml dataset"
Can someone of you check, whether you also get error 131 from the server, when running the following example? In case you get the same error, could you extract the xml that is uploaded to the server, so we can ask Jan what's going on?

[code]

[2016-03-17 14:48] jakobbossek commented on #188
Fixed via bb07e82.
The order of the information stored in the xml object matters.

[2016-03-17 14:48] #188 closed

[2016-03-17 15:08] jakobbossek commented on #152
Ok. We discussed that about a million times now:
1) There are two API calls runs/list and evaluations/list. Since we offer functions for all API calls, both are currently implemented and actually work, we stick to it and do not change anything.
2) `listOMLRunEvaluations` returns only successful runs. I am going to mention this in the docs.
3) As far as I see there is no possibility to pass a `setu

[2016-03-17 15:08] #152 closed

[2016-03-17 15:09] jakobbossek commented on #172
Giuseppe is working and that.

[2016-03-17 15:16] kerschke commented on #142
I guess that's more or less done, right?

[2016-03-17 15:17] kerschke commented on #162
integrated it within the tutorial

[2016-03-17 15:17] #162 closed

[2016-03-17 15:18] jakobbossek commented on #142
Mostly. I think an example is missing for `runTaskMlr`.
However, there are some IMHO useless examples, e.g., for `clearOMLCache()`.

[2016-03-17 15:21] kerschke commented on #142
Ok, I'll write one for `runTaskMlr` (basically modify the one from the tutorial)

[2016-03-17 15:22] jakobbossek commented on #142
Ok :+1:

[2016-03-17 16:09] #177 closed

[2016-03-17 16:20] #75 closed

[2016-03-17 16:20] #45 closed

[2016-03-17 16:21] jakobbossek commented on #159
We agreed to create a *pseudo* vignette which explains OpenML in a few sentences and links to our true vignettes which are located in an alternative folder.

[2016-03-17 16:21] giuseppec commented on #156
copy this to jenkins, then close it

[2016-03-17 16:22] giuseppec commented on #140
copy this to jenkins in a SIMPLE form them close it

[2016-03-17 16:25] #86 closed

[2016-03-17 16:29] #142 closed

[2016-03-17 16:32] #78 closed

[2016-03-17 18:59] dominikkirchhoff opened #190 "getOMLTask fails for me"
[code]

[2016-03-17 19:18] jakobbossek commented on #190
We need the traceback

[2016-03-17 19:31] jakobbossek opened #191 "trigger openml-r/master rebuild on API/server commits"
We talked about that. Obviously it ist not supported natively from travisCI side.
However, [this might be helpful](http://kamranicus.com/blog/2015/03/29/triggering-a-travis-build-programmatically/).

[2016-03-17 20:41] kerschke commented on #190
The traceback wasn't helpful at all. But in the first approaches, we reduced the bug to the download function. One of the things we noticed was that the name of third list element of the download (the splits?) was `NA`.. Don't know if that is of any help..

[2016-03-18 09:12] jakobbossek opened #192 "check if produced arff file can be parsed"
We need a unit test that we can parse a produced run arff. See [farff issue](https://github.com/mlr-org/farff/issues/25).

[2016-03-18 09:43] dominikkirchhoff commented on #190
The problem was a bug in backports for some older R versions. @mllg is gonna fix it there. Closing it here.

[2016-03-18 09:43] #190 closed

[2016-03-18 10:15] #192 closed

[2016-03-18 12:20] kerschke opened #197 "test examples on travis"
We have to test the examples on travis (because they are currently all on \dontrun).
Therefore, source the files from inst/examples and test them with test dontrun..

[2016-03-18 12:44] kerschke commented on #155
all the fixme's are resolved for now.. re-open if new ones come up.

[2016-03-18 12:44] #155 closed

[2016-03-18 13:16] giuseppec commented on #197
@HeidiSeibold is it possible to put the dontrun part in the roxygen docu and have sourcable .R files in the inst/examples dir?

[2016-03-18 13:25] HeidiSeibold commented on #197
Nope. I spend an hour on tuesday trying to figure out how to do this and the only thing I found was, that it isn't possible :(

[2016-03-18 13:28] HeidiSeibold commented on #197
why don't you use devtools' run_examples with run = FALSE. That should work right?

[2016-03-18 13:50] dominikkirchhoff commented on #97
unnecessary to update the section since we now have a vignette showing a small case study

[2016-03-18 13:50] #97 closed

[2016-03-18 15:03] kerschke commented on #197
What's the matter on this one? Afaik @mllg configured travis to test the dontrun examples as well..

[2016-03-18 15:21] giuseppec opened #199 "finish OMLRunParList"
- export `makeOMLRunParList` function and make sure that it works properly (check the fixmes)
- write converter that makes a list of parameter values out of a OMLRunParList and also make sure that components are considered, so that `setHyperPars` will set them for the parameters of the wrappers (e.g.`next.learner`) .

[2016-03-18 15:26] giuseppec commented on #197
Then we can close right?

[2016-03-18 15:42] kerschke commented on #197
Sounds good to me.

[2016-03-18 15:42] #197 closed

[2016-03-18 17:59] berndbischl opened #201 "produce a small test of upload tests for the new OML test server"
we probably have a bunch of tests in the attic.
copy those, make them good.

http://test.openml.org/api/v1/

[2016-03-20 11:59] giuseppec opened #202 "add `tag` arg to all upload functions"

[2016-03-21 07:56] HeidiSeibold opened #203 "uploadOMLDataSet fails (Error 135)"
I tried uploading a data set

[code]

but it fails

[code]

The same happened with the tutorial example.
Is this a problem on the R or on the server side?

[2016-03-21 07:58] HeidiSeibold commented on #203
Maybe connected to openml/OpenML#263 ?

[2016-03-21 11:25] jakobbossek commented on #203
I cannot reproduce this. I get
[code]
Did branch are you working on?

[2016-03-21 11:26] jakobbossek commented on #203
By the way error 135 indicates a missing dataset description XML file (see [the API docs](http://www.openml.org/api_docs/#!/data/post_data)).

[2016-03-21 11:32] jakobbossek commented on #202
Why should we add the `tag(s)` arg to the upload function?
All constructor functions, i. e., `makeOML{Task,Run,Flow,DataSetDescription}` have a `tags` argument and we need to use these function prior to uploading any OML object. The only thing that is currently missing in the `upload...` functions is the `tagOMLObject` helper right after uploading.

[2016-03-21 11:53] janvanrijn commented on #203
I think it is fixed by now? Server had a full SDD, I resolved this.

2016-03-21 12:26 GMT+01:00 Jakob Bossek <notifications@github.com>:

[2016-03-21 11:56] jakobbossek commented on #203
Thx for the info @janvanrijn.
Closing. Reopen if you still encounter an error.

[2016-03-21 11:56] #203 closed

[2016-03-21 11:58] giuseppec commented on #202
That's what I meant ;). This was only a "reminder"-issue. I will solve this issue in 5 seconds.

[2016-03-21 12:00] jakobbossek commented on #202
Ok :+1:
The title was kind of misleading

[2016-03-21 12:14] #202 closed

[2016-03-22 07:33] giuseppec commented on #201
Everything that is upload to the test server also appears to the main server. @joaquinvanschoren  is this an intended behaivour? I thought the test server is something separate.

Example:
[code]

[2016-03-24 15:37] rgmantovani opened #206 "How to get time evaluation measures?"
Hi,

I'm trying to get some evaluation measures from OML runs, specially the ""build_cpu_time"". For example, if I load the run with run.id = 527625 (computed with some old version of the package), it has what I want (usercpu_time_millis_xxxxx):

[code]
[code]

$run

OpenML Run NA :: (Task ID = 3653, Flow ID = NA)

$bmr
           task.id    learner.id acc.test.mean timetrain.test.mean
1 OpenML-Ta

[2016-03-24 15:45] giuseppec commented on #206
Yes, I noticed this also and fixed it in a branch, will merge ist hopefully today. Someone renamed the `mlr.benchmark.result` slot in the `runTaskMlr` to `bmr` during the workshop and this caused several bugs...

[2016-03-24 16:27] giuseppec commented on #206
I fixed this in the https://github.com/openml/openml-r/tree/convertOMLRunToBMR branch and will merge it to master when the branch does not fail on travis. Due to the changes that have been made, you have to use `new.id = uploadOMLRun(run = oml.run)` instead of `new.id = uploadOMLRun(run = oml.run$run)` to upload the run.
@rgmantovani can you check if it works as you expect and then close this issu

[2016-03-24 17:55] rgmantovani opened #207 "get OML Dataset with no target feature"
Hi guys,

is there any way to get a dataset with no target feature? Or should I add a "default" target @joaquinvanschoren ?
There are at least 6 OML datasets without a target feature specified, but the corresponding task has it.
[code]
I took a look on the tasks, and all of them have more than 100 features.

[code]

My sessionInfo( );

[code]
Thanks.

[2016-03-24 19:47] #172 closed

[2016-03-24 19:51] giuseppec commented on #206
@rgmantovani I merged this into master.

[2016-03-24 20:18] rgmantovani commented on #206
Thank you @giuseppec, it worked.

[2016-03-24 20:18] #206 closed

[2016-03-24 20:25] giuseppec commented on #207
Hm, good point. I don't see any reason to throw an error and avoid reading the dataset. Why is it forbidden to get the data when there is no default target defined? Wouldn't a warning be sufficient instead of an error? Let's wait what @joaquinvanschoren and @berndbischl think.

[2016-03-24 20:28] berndbischl commented on #207
That is just an error in the assertion. The dataset should of course be downloadable to R with 0 target features.

Pls fix this and add a unit test

[2016-03-25 11:38] joaquinvanschoren opened #209 "Link to tutorial"
I cannot find a link to the tutorials. There is no link in the github Readme, and the old link (which is still on the OpenML site, is now broken: http://www.openml.org/guide#!r).

I can see the vignettes, but don't know how to easily open them.

Thanks!

[2016-03-25 17:47] giuseppec commented on #209
You could use this link https://raw.githubusercontent.com/openml/openml-r/master/vignettes/OpenML.html

Is this sufficient?

[2016-03-25 18:14] joaquinvanschoren commented on #209
Not really, this just gives me raw html. This is not rendered, so I would have to download it or host it somewhere before people can read it. I could host it on OpenML, but that means I would have to manually copy every update that you make.

We could also use github.io:
- create a branch 'gh-pages'
- add an index.html in the root folder redirecting to the vignette

Then it would be available as h

[2016-03-25 18:38] berndbischl commented on #209
I guess we have to put this on github.io.
I think this is the only reasonable solution right?
But I thought we solved this at the WS?

[2016-03-25 18:39] berndbischl commented on #209
also note that the link in the wiki page on the tutorial is now dead. and the info on that page probably outdated....

[2016-03-26 11:55] giuseppec commented on #209
We have a https://github.com/openml/openml-r/blob/master/vignettes/OpenML.Rmd
and can make a .md file out of it and use this link (as in our previous tutorial). But the best alternative would indeed be github.io. @kerschke and @dominikkirchhoff can you do this?

[2016-03-27 20:51] joaquinvanschoren commented on #207
Also agree that a dataset without default target should be downloadable.
This is actually very common for clustering datasets.
On Thu, 24 Mar 2016 at 21:28, Bernd Bischl <notifications@github.com> wrote:

[2016-03-29 12:28] giuseppec commented on #199
Currently, we do not support wrapped learners, e.g.

[code]

This is because the `<oml:component>` field of the run's xml only allows a `flow.id` (see https://github.com/openml/OpenML/issues/270), that is,
1) we need to register the `makeOversampleWrapper` as a new flow with its hyperparameters and
2) when uploading the run, we need a way to "retrieve" this `flow.id` of the wrapper. Any ideas what

[2016-03-29 14:17] #207 closed

[2016-03-29 14:20] giuseppec commented on #201
Update @joaquinvanschoren: uploading runs to the test server gives now the error:
[code]

[2016-03-29 14:41] joaquinvanschoren commented on #201
Thanks. Will try to reproduce.

About runs appearing on the production server: the runs are indeed reported
to the production search engine but are actually not stored in the
production database. I need to setup a separate search engine on the test
server.

On Tue, Mar 29, 2016 at 4:20 PM giuseppec <notifications@github.com> wrote:

[2016-03-30 22:03] berndbischl opened #211 "convertOMLTaskToMlr: target feature"
I see this FIXME here.

  # FIXME: here it is wrong that we take the taget from the dset, must be from task!

This need to be FIXED ASAP.

Currently, for most dsets / tasks this will be the same. But if people start using the package we dont want faulty results because of this.

Also, when this is closed, please scan for other FIXMEs of this kind....!

[2016-03-30 23:32] joaquinvanschoren commented on #209
I just did it myself :)
http://openml.github.io/openml-r

[2016-03-30 23:33] #209 closed

[2016-04-07 13:54] HeidiSeibold opened #212 "Improvement of print method for task"
Giuseppe asked me to take a look at the print methods and I think they are all fine. The only one where I see possibilities to improve was for task:

- There is no limit to how many tags a task can have. If we print all tags this might become very long at some point. Mabe we could only print the first 7 or so and then just "..."?
- Printing the evaluation measure might be interesting

So these are

[2016-04-07 17:11] berndbischl commented on #212
For the printer use BBmisc::clipString. I coded that exactly for such purposes.

For the task? Yes, your are right indeed :) Pls do that.

[2016-04-11 20:44] joaquinvanschoren opened #213 "Flow checking"
How does uploading flows work in the R package? How do you check whether a flow already exists before uploading a new one? I can see two flows here:
http://www.openml.org/f/3427
http://www.openml.org/f/3430

But they seem to be the exact same version with the same dependencies?

[2016-04-12 17:04] giuseppec commented on #213
There is a difference. One flow uses 'openml.seed' and the older one uses 'seed' as parameter. The reason why I had to change 'seed' to 'openml.seed' is because I noticed that some (it is seldom, but it can happen) mlr learners have 'seed' in their parameter set. And we have to distinguish between the seed, which in R is usually set by the set.seed() function and the 'seed' function argument that

[2016-04-22 16:55] berndbischl opened #214 "please prefix the name of each learner from mlr with "mlr." upon upload"
this is done also for weka and sklearn learners.

so the uploaded name should be mlr.classif.rpart

[2016-04-29 07:35] HeidiSeibold commented on #185
I asked on twitter if there are ways to do this without having to install the packages.

This is the best answer I got:
https://twitter.com/GaborCsardi/status/725776034910617600

Seems pretty promising :smiley:

[2016-04-30 13:40] berndbischl opened #215 "syntac sugar: getOMLDataSet simply with name"
getOMLDataSet(name = "iris", version = 1)

would be very nice.

can be done like this, if the user actually passes a name, and not the id:

- listOMLDataSets
- look for the name row with name and version
- get the id
- use the id
- bonus: if no version is given by the user, and only one version exists for the dset, let it still work

[2016-05-01 14:26] HeidiSeibold commented on #212
Working on it in the issues branch

[2016-05-11 05:43] berndbischl commented on #211
@mllg
did you just fix this here?

[2016-05-11 05:44] berndbischl commented on #211
yes you did. can we close?

@giuseppec
i did write ASAP in the issue text ;-)

we should not leave these things in the code. people start  working with this (including and foremost: we ourselves....)

[2016-05-11 07:35] giuseppec commented on #211
Looks good to me now. Will close this. And sorry, the issue was still in one of my "unread" emails... time is passing by so fast.

[2016-05-11 07:35] #211 closed

[2016-05-12 14:59] giuseppec commented on #214
Already done in https://github.com/openml/openml-r/commit/4756dd9adc2124061439d98259be2620a0adfe31.

[2016-05-12 14:59] #214 closed

[2016-05-12 15:03] giuseppec commented on #199
Done, in branch https://github.com/openml/openml-r/tree/allowMlrWrappers which has already been merged.

[2016-05-12 15:03] #199 closed

[2016-05-17 10:54] #213 closed

[2016-05-17 11:06] giuseppec commented on #215
Unfortunately `listOMLDataSets` does not return the version of a data set, so I currently could do this using the `name` arg without `version`.

[2016-05-17 11:11] joaquinvanschoren commented on #215
You're right. Shall I add the version?

On Tue, May 17, 2016 at 1:06 PM giuseppec <notifications@github.com> wrote:

[2016-05-17 11:58] giuseppec commented on #215
Yes, please.

[2016-05-18 06:59] berndbischl opened #220 "convertOMLTaskToMlr: task id name"
hi

can we make the names here a bit better, the task id name in the mlr task?

just having the oml task id is not that readable. maybe the task id and the data set name?

or make this configurable a bit?

[2016-05-18 07:11] berndbischl commented on #220
also the "OpenML-Task" string mainly wastes space....

[2016-05-18 09:02] giuseppec commented on #220
something like: `iris.task.61`?

[2016-05-18 09:08] giuseppec commented on #212
Merged in https://github.com/openml/openml-r/pull/218

[2016-05-18 09:08] #212 closed

[2016-05-18 09:36] giuseppec commented on #147
Done, see http://www.openml.org/r/572914 . Instead of `setup_string` we agreed via email to use columns for each hyperparameter. The ARFF file looks like:
[code]

I'll close this here, reopen if necessary.

[2016-05-18 09:36] #147 closed

[2016-05-22 16:04] giuseppec commented on #220
Done in https://github.com/openml/openml-r/commit/8fc871548098f0510a34b28adc79d4e96753fddb#diff-702fe7df89b7fd2f78676f4c5aa5fdbf

[2016-05-23 13:07] berndbischl commented on #220
sorry

[2016-05-23 13:10] berndbischl commented on #220
could you maybe make the same configurable like this:
mlr.task.id = <string>
in string i am allowed to use <oml.taskid> <oml.dataname> <oml.dataversion> and you replace these with their respecctive content?

wouldnt that be nicer?

sorry for the slow reply.

adapt the naming scheme if you dislike this or answer if you hate this.

[2016-05-27 13:32] giuseppec opened #222 "download trace arff file"
Let the `getOMLRun` function also download the trace file. Uploading already works.

[2016-05-28 16:23] rgmantovani opened #223 "uploading new runs"
Hi,

I've uploaded the package to the last version recently and I'm trying to upload some runs.
I tried a simple example:

[code]

but with no success to get the run id:

![screen shot 2016-05-28 at 6 14 34 pm](https://cloud.githubusercontent.com/assets/5933552/15628410/b3212cec-2500-11e6-8f8d-92a2b0fb0207.png)

However, the runs are being uploaded (http://www.openml.org/r/573112) :

![screen shot

[2016-05-28 19:01] giuseppec commented on #223
Does it work with `upload.bmr=FALSE`? Maybe the server is complaining because benchmarkResult object can be large. @joaquinvanschoren is there a filesize limit for additional files that are uploaded ?

[2016-05-29 18:05] rgmantovani commented on #223
Hi @giuseppec , `upload.brm = FALSE` produces the same error.
I have another code running (with the older version of the package), and it seems to work normally the upload (getting the run.id from the server).

[2016-05-30 08:39] giuseppec commented on #223
@rgmantovani although uploading takes some time, it seems to work for me.

Try this:
1. execute `debug(uploadOMLRun.OMLRun)` and run your code above.
2. while you are in the debug mode, the upload function writes an `.xml` and `.arff` file in a tempdir on your computer. This happens in line `writeOMLRunXML(run, description, bmr = bmr)` and `arff.writer(run$predictions, file = predictions.file)`. T

[2016-05-30 14:18] rgmantovani commented on #223
Thanks @giuseppec. I will post here, but today the server seems to behave different, is returning the 'run.id' but spending some minutes to do that.

[2016-05-30 15:23] rgmantovani commented on #223
@giuseppec, I did as you suggested. Both ways upload runs but spend some minutes to do it.
Event with the api link it happens
.
Making a diff between files, there is no difference between predictions arff files. The xml files just differ the runtimes (it's ok), and the flow id (due to the packages' versions).

![screen shot 2016-05-30 at 5 12 54 pm](https://cloud.githubusercontent.com/assets/59335

[2016-05-30 15:46] giuseppec commented on #223
Ok, from R package side everything seems to be ok then. I also observed this kind of message sometimes and also the very slow uploading (as well as deleting). Please open up an issue in the main tracker. Uploading small XML files should not take minutes...

[2016-05-30 15:46] #223 closed

[2016-06-28 12:26] PhilippPro opened #224 "Download of datasets does not work currently"
[code]

[2016-06-28 12:57] janvanrijn commented on #224
Mysql server seemed down. Rebooting now.

2016-06-28 14:26 GMT+02:00 Philipp Probst <notifications@github.com>:

[2016-06-28 18:43] MariaErdmann opened #225 "Set target manually in convertOMLDataSetToMlr()"
Hi,
working on my bachelor thesis I recognized that there are some OpenML datasets that do not have a default.target.attribute in their description. Therefore, convertOMLDDataSetToMlr() won't create a task.
It would be great if the target could be set manually in convertOMLDataSetToMlr() such that all OpenML datasets could be converted to mlr. And @berndbischl asked me to create this issue.

Below

[2016-06-28 22:32] joaquinvanschoren commented on #225
Sounds good. To be sure, this does not require changes on the server, right?

Cheers,
Joaquin

On Tue, 28 Jun 2016 at 11:43, Maria Erdmann <notifications@github.com>
wrote:

[2016-06-28 22:33] berndbischl commented on #225
nope, no server changes. its simply to override the default in the XML or to set a default target if none is set

[2016-07-07 15:26] giuseppec commented on #225
Maybe I don't get it, but doesn't `convertOMLDataSetToMlr(dset, target = "Class")` or `convertOMLDataSetToMlr(dset, target = "V1")` do what you want?
Or do you mean that we should use a "clever" default, if `dset$desc$default.target.attribute` is empty (because we currently use `dset$desc$default.target.attribute` as default which yields the error you mentioned if `dset$desc$default.target.attribu

[2016-07-07 15:27] giuseppec commented on #224
Close. It now seems to work.

[2016-07-07 15:27] #224 closed

[2016-07-07 16:22] berndbischl commented on #225
yes thats what i want. i simply want to define y as a user.
for datasets where there is now default target feature defined on the server / in the xml metainfo - or where i simply want to redefine the target.

but that arg does not yet exist.

please do not assign a "random" feature to y, that does not make sense!
if there is none, the user has to specify it.

[2016-07-07 21:55] giuseppec commented on #225
Maybe now I am too tired, but in the current OpenML version this arg does exist, see https://github.com/openml/openml-r/blob/master/R/convertOMLDataSetToMlr.R#L33 ???
By default, the function uses `target = obj$desc$default.target.attribute` and if you want to redefine the target, why don't you just change this?

My guess is that you maybe want the same thing for the [`convertOMLTaskToMlr`](https:

[2016-07-07 22:18] berndbischl commented on #225
i am an idiot. i clicked on the wrong file (when i was tired....) to check the current API.

sorry :(

we seem to have what we want.

will close

[2016-07-07 22:18] #225 closed

[2016-07-15 21:05] joaquinvanschoren opened #226 "Diagnosing data download issues"
I encountered some problems while downloading a few datasets, e.g.:
[code]

It looks like the server is returning an error/warning instead of the actual dataset. However, since only the first line is shown (I'm using verbosity=2) I cannot read the error message. I also cannot reproduce the error because it works fine when I use the REST API directly. There must be something different with the requ

[2016-07-15 21:25] joaquinvanschoren opened #227 "Better error message when disconnected"
This is more of a suggestion than an issue, but when my WiFi disconnects, I typically get the following error:
[code]
This is not very intuitive for many users, I think. Perhaps we should add a line saying 'Please check your internet connection'?

Just a thought :)

[2016-07-18 18:08] joaquinvanschoren opened #228 "Add installation instructions to tutorial vignette"
There are installation instructions on GitHub, but not in the 'official' tutorial on http://openml.github.io/openml-r

Would it make sense to add them there as well?

I'm also wondering whether we should recommend people to install farff. I know from experience that installing RWeka can be troublesome on Macs. farff installs flawlessly.

[2016-07-19 14:36] giuseppec commented on #226
Unfortunately, I cannot reproduce your error since I get

[code]

If you garant me access to the data set 1223, I could have a look.

[2016-08-04 15:51] HeidiSeibold commented on #185
http://vincentarelbundock.github.io/Rdatasets/datasets.html

[2016-08-29 12:08] jakobbossek commented on #226
However, we can already conclude, that obviously a sanity check is missing. The error message posted by @joaquinvanschoren is throw by `farff::parseHeader` which was obviosly passed the raw server response, which is no farff file, but a HTML file with an unknown error/warning.

[2016-08-29 13:13] jakobbossek commented on #227
Addressed in PR #229

[2016-08-29 13:34] jakobbossek commented on #128
What is the status here? @joaquinvanschoren Is it realistic to address this issue on the upcoming workshop?

[2016-08-29 14:33] jakobbossek commented on #228
I agree. Going to add a paragraph on installation soon.

I think we will set farff to the default ARFF-reader as soon as farff is on CRAN. However, we should mention the alternatives as well.

[2016-08-29 14:37] jakobbossek commented on #191
Could be helpful as well: https://docs.travis-ci.com/user/triggering-builds/

[2016-08-29 15:17] berndbischl commented on #128
i am vetoing this 100% if this creates 1000 hours of work again on the client side....

[2016-08-29 15:17] berndbischl commented on #128
if it REALLY REALLY is simple to do, by all means lets do this

[2016-08-29 18:12] jakobbossek commented on #128
I am not an expert in this field, by I think on client side we need to change the protocol from http to https and install a certificate.

A general point: We are encrypting stuff on travis, keeping our API key secret, working with read-only keys in the tutorial and so on. But the transmission of results between server and client is completely unsecured. This is very bad IMHO.

[2016-08-29 21:09] berndbischl commented on #128
what i meant to say was:
i am vetoing this 100% if this creates 1000 hours of work again on the client side **during the workshop** ....

[2016-08-30 10:09] jakobbossek commented on #228
Addressed in issue #231

[2016-08-30 10:42] joaquinvanschoren commented on #128
Like Jakob said, this is mostly server-side stuff, and should not require
much work on the client side (only changing the protocol to HTTPS).
Practically, we do need to switch all clients at the same time, because I
don't think we can offer both HTTP and HTTPS at the same time. Hence the
workshop would be the ideal time to make the switch.

Certificates are NOT free, there is a cost per (sub)domai

[2016-08-30 10:55] jakobbossek opened #232 "Rename did to data{set}.id"
We have flow.id, run.id, task.id and did. I really dislike the latter. The naming is inconsistent and I always want do write data.id or dataset.id.
We should rename this in order to have a consistent naming scheme.

[2016-08-30 12:09] giuseppec commented on #232
Yes, I also don't like this `did`. If I remember well I already talked with @berndbischl about this and we agreed to use the names defined by the server (and only to replace `_` by `.`. Unfortunately the server uses `did` instead of `data.id`.
Maybe this can/should be changed on server-side @joaquinvanschoren ?

[2016-08-30 12:15] jakobbossek commented on #232
Well, changing this on server-side needs **all** clients to be adapted.
I think we should rename this in our the R package only.

[2016-08-30 12:26] jakobbossek opened #233 "Handle errors consistently"
As far as I see our error handling is inconsistent. Sometimes we catch potential server-side errors (no XML provided, but e.g. error 500 which then results in less helpful error messages like @joaquinvanschoren mentioned in #227).

Rather positive example from `deleteOMLObject`:
[code]

In most cases however, we do not check the API call response and pass directly to the XML parser without checkin

[2016-08-30 12:28] jakobbossek commented on #215
@joaquinvanschoren ping

[2016-08-30 13:47] berndbischl commented on #232
IMHO it is OK to do this here, but please dont OVERDO this.
try to stick to server names.

[2016-08-30 13:48] berndbischl commented on #232
and asking for renaming schemes on the server, which would basically break all clients is also not the best thing before the upcoming WS....

[2016-08-30 17:45] giuseppec commented on #220
@berndbischl does https://github.com/openml/openml-r/pull/234 do what you suggested?

[2016-08-31 10:22] jakobbossek commented on #232
No, the `did` is the only var name I would like to rename. Shall we rename to `data.id` or `dataset.id`?

Moreover, before I start to do that tedious work I would like you to have a look and hopefully merge PR #235 👍

[2016-08-31 10:48] giuseppec commented on #232
+1 for `data.id`.
PR merged, improved the code a lot. Thx for that.

[2016-08-31 12:07] berndbischl commented on #232
ok all good here i guess

[2016-08-31 13:10] jakobbossek commented on #185
Thanks Heidi!
Tried the approach proposed by Gabor. Pretty easy with his gh package and githubs's fantastic code search API to obtain a list of all rda files inside cran:
[code]

This way we can download the rda files only, e.g., via `repos$items[[i]]$html_url`. However, there is no easy way to access meta data for the data set, e.g., data set description, default target feature, citations etc. An

[2016-08-31 13:15] jakobbossek commented on #232
@giuseppec Thanks for merging.
@all: ok going to rename `did` to `data.id`

[2016-08-31 14:00] jakobbossek commented on #233
Issue #226 is related.

[2016-08-31 14:32] jakobbossek commented on #185
Started to work on a crawler which operates on the github cran repositories and reads 1) the data itself and 2) metadata from the corresponding Rd file. Works well so far. Just need to parallelize stuff and handle potential errors.

[2016-09-01 11:30] joaquinvanschoren commented on #215
Added, you now get the (internal) version number :)

[2016-09-01 11:32] joaquinvanschoren commented on #201
This was fixed a while ago. Close?

[2016-09-01 11:34] joaquinvanschoren commented on #77
Tasks have been available in the api_docs for a while now, as are all tagging calls. Close?

[2016-09-01 11:36] joaquinvanschoren commented on #191
Please show me how to do this during the Hackathon

[2016-09-01 11:37] jakobbossek commented on #191
Ok. I will have a closer look at this next week 👍

[2016-09-01 11:44] jakobbossek commented on #77
I finished the tagging stuff at the last hackathon.

Ok. Do I unterstand correctly: studies are simply based on tagging, i.e., all data, tasks, flows and runs are tagged with `mystudy_studyid` and that is it? If this is the case and there is not dedicated study API, we can close for now IMHO.

Objections:
For R users it is quite inconvinient to first navigate to the website, create a study by hand

[2016-09-01 11:46] jakobbossek commented on #215
Thanks!

[2016-09-01 11:54] jakobbossek commented on #201
Not sure. Some upload tests are uncommented and it seems, that we do not use the test server. However, not sure about that. I will assign @giuseppec since he was working on that.

[2016-09-01 14:33] joaquinvanschoren commented on #77
Yes, anything can be added to a study by tagging.

If you are sure that it is easier to create a study via R, then we can add
an API call for that. Let's discuss during the hackathon.

On Thu, Sep 1, 2016 at 1:44 PM Jakob Bossek <notifications@github.com>
wrote:

[2016-09-02 10:03] joaquinvanschoren commented on #228
Thanks!

[2016-09-02 10:03] #228 closed

[2016-09-02 11:10] jakobbossek commented on #227
Solved in #229.

[2016-09-02 11:10] #227 closed

[2016-09-02 11:22] mllg opened #236 "mlr should be in Suggests"
mlr should load the namespace only if it is required, e.g. a `convert*Mlr` or `runTaskMlr` function is called. Possible first step would be to move mlr into imports.

[2016-09-02 11:26] berndbischl commented on #236
i woulk like to have it in IMPORTS then

[2016-09-02 11:30] mllg commented on #236
Why? Any advantage over loading it on-demand?

[2016-09-02 11:47] berndbischl commented on #236
ok we could move it to SUGGESTS then

[2016-09-04 18:44] jakobbossek commented on #236
We would then load mlr via `requirePackages`, right?
Maybe a stupid question: in case of `runTaskMlr` we need to create the learner in advance. Thus mlr needs to be loaded before we enter `runTaskMlr`, right?

[2016-09-04 20:06] jakobbossek opened #237 "replace xml by json"
We are working on that in branch switch_to_json.
@giuseppec I hope it is ok, that I started to work on that as well.

[2016-09-04 20:15] jakobbossek commented on #237
Added the high priority label. Remove if you think this is not of major importance.

[2016-09-04 20:18] jakobbossek commented on #233
IMHO we should first switch to json (see #237). Error messages in JSON format are of the form
`{"error":{"code":"542","message":"No results"}}`. We can then write a small helper function to easily detect errors and print a nice and meaningful error message.

[2016-09-05 08:16] berndbischl commented on #236
yes, in that case the user would need to do this manually, and has to think about this himself.
loading the package in the OML function would (of course) not help here

[2016-09-05 12:19] jakobbossek commented on #226
Linked to #233.

[2016-09-05 13:05] joaquinvanschoren commented on #237
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;kbLoTKea&#x2F;1-thing"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> thing</a>

[2016-09-05 13:19] mllg commented on #236
I could take this over, but now is probably not the perfect time -- I would likely cause some merge conflicts, right?

[2016-09-05 13:24] jakobbossek commented on #236
@giuseppec is already assigned and works on it.

[2016-09-05 13:28] jakobbossek commented on #237
Overview of function which need adaptions:

### Listing functions
- [ ] listOMLRunEvaluations
- [ ] listOMLRuns
- [ ] listOMLTasks
- [ ] listOMLDataSets
- [ ] listOMLEvaluationMeasures
- [ ] listOMLEstimationProcedures
- [ ] listOMLDataSetQualities
- [ ] listOMLFlows
- [ ] listOMLTaskTypes

[2016-09-05 13:28] giuseppec commented on #236
@mllg yes, have to add `mlr::` to all mlr functions... will do that now.

[2016-09-05 14:24] jakobbossek commented on #232
Sorry. This is not finished yet.

[2016-09-05 15:44] jakobbossek commented on #237
Yeah, did all that stuff above and just realized, that JSON is **not supported natively**. Instead the server builds XML and converts XML to JSON. For large datasets this conversion is very, very time consuming. Thus, e.g., listOMLDataSets based on JSON takes ~5x faster than the XML version.
F***!!!

[2016-09-05 15:55] jakobbossek commented on #236
Done in PR #238

[2016-09-05 15:55] #236 closed

[2016-09-05 16:16] jakobbossek commented on #237
However, XML postprocessing (conversion of the raw XML to R data frame) takes much longer than the JSON postprocessing. Maybe, someday in a not so far future, when there are billions of datasets/tasks/flows, XML postprocessing will become so cost-intensive, that we can finally switch to JSON 👍

[2016-09-05 16:17] rgmantovani opened #241 "how get evaluations from tagged Studies? Different results from listOMLRuns and listOML"
I'm trying to get all the run evaluations from an specific study. For more recent studies is ok, but If I try to load from older ones, like ```tag = study_1``` or ```tag = study_7```, the number of the return objects does not match (Runs vs RunEvaluations). For example:

[code]

The same happens for study 7, for example.

[code]

Is there any way to get all the run evaluations?

Another question:

[2016-09-05 16:42] joaquinvanschoren commented on #241
This indeed looks like an issue with the R package, the server returns the same amount of runs and evaluations:
http://www.openml.org/api/v1/json/evaluation/list/tag/study_7?api_key=xxx
http://www.openml.org/api/v1/json/run/list/tag/study_7?api_key=xxx

[2016-09-05 20:08] jakobbossek commented on #241
We need an additional argument for pagination on R side, e.g., wrapping the loop you wrote by hand.

[2016-09-06 08:47] jakobbossek commented on #232
Done in PR #242.

[2016-09-06 11:12] #232 closed

[2016-09-06 17:56] giuseppec opened #244 "check if listOMLRunEvaluations has the flow.name"

[2016-09-06 17:59] giuseppec commented on #201
addressed in https://github.com/openml/openml-r/pull/243

[2016-09-07 09:11] #201 closed

[2016-09-07 09:12] giuseppec commented on #220
Already done in https://github.com/openml/openml-r/pull/234 and merged.